$jqcloud-font: 10px "Helvetica", "Arial", sans-serif;

$jqcloud-link-hover-color: #005e44;

$jqcloud-words: (
        w1: (130%, #bbbbbb),
        w2: (150%, #909090),
        w3: (200%, #005e45),
        w4: (250%, #005e45),
        w5: (300%, #1a171b),
        w6: (350%, #1a171b),
        w7: (400%, #1a171b),
        w8: (450%, #ff0a14),
        w9: (500%, #ff0a14),
        w10: (550%, #ff0a14)
) !default;

.jqcloud {
  font: $jqcloud-font;
  line-height: normal;
  overflow: hidden;
  position: relative;
}

.jqcloud-word {
  margin: 0;
  padding: 0;

  @each $word, $config in $jqcloud-words {
    &.#{$word} {
      color: nth($config, 2);
      font-size: nth($config, 1);
    }
  }

  a {
    color: inherit;
    font-size: inherit;
    text-decoration: none !important;

    &:hover {
      color: $jqcloud-link-hover-color;
    }
  }
  &.w9,&.w10 {
  	font-family: Georgia, Times, "Times New Roman", serif;
  }
}

