<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
<TITLE>Direct Mail subscription Template</TITLE>

</head>
<body>
<br />
<br />
<br />
<H1>DIRECT MAIL SUBSCRIPTION/ADMINISTRATION TEMPLATES</H1>
<h2>EXAMPLE</h2>
<br /><br /><br /><br /><HR><br /><br /><br />
<em>	Form for creation of a new newsletter recipient:</em>
<br />
<br />



<!-- ###TEMPLATE_CREATE### begin
	Form for creation of a new newsletter recipient
-->

<font color="#005e44">###EVAL_ERROR_FIELD_email###</font>
<div id="nwform">
	<form name="tt_address_form" method="post" action="###FORM_URL###">
		<p>Gerne informieren wir Sie über unsere aktuellen Projekte und Programme. Abonnieren Sie hier den Newsletter der Deutschen Schulakademie. Sie können diesen Service in jedem Newsletter abbestellen:</p>
		<div id="nwover">
			<div><label for="fe_ttaddress_gender_input" id="label-fe_ttaddress_gender">Anrede</label><br />
				<div>
					<select name="FE[tt_address][gender]">
						<option value="">bitte auswählen</option>
						<option value="m">Herr</option>
						<option value="f">Frau</option>
					</select>
				</div>
			</div>

			<div>
			  <label for="fe_ttaddress_name_input">Titel:</label>
			  <br />
			  <input type="text" name="FE[tt_address][title]" id="fe_ttaddress_title_input" />
		
			</div>
			<div>
		
			  <label for="fe_ttaddress_first_name_input">Vorname:</label><br>
			  <input type="text" name="FE[tt_address][first_name]" id="fe_ttaddress_first_name_input" />
			</div>
			<div>
				<label for="fe_ttaddress_name_input">Name:</label>
				<br />
				<input type="text" name="FE[tt_address][name]" id="fe_ttaddress_name_input" />

			</div>
			<div>
		
			  <label for="fe_ttaddress_first_company_input">Institution:</label><br>
			  <input type="text" name="FE[tt_address][company]" id="fe_ttaddress_first_company_input" />
			</div>
			
			<div>
				<label for="fe_ttaddress_email_input">E-Mail:</label><br />
				<input type="text" name="FE[tt_address][email]" id="fe_ttaddress_email_input" />
				<br />
			</div>
		</div>
        ###CE_CATLIST###
        <input type="hidden" name="FE[tt_address][module_sys_dmail_html]" value=0 id="fe_ttaddress_html_input" />
		<div id="nwformsubm_div">
			<input type="submit" name="whatever" value="Jetzt anmelden" id="nwformsubm" />
		</div>
        
        ###HIDDENFIELDS###
	</form>
</div>

<!-- ###TEMPLATE_CREATE### end-->
<br /><br /><br /><br /><HR><br /><br /><br />
<em>	This is the code shown when a new newsletter recipient is created:</em>
<br />
<br />


<!-- ###TEMPLATE_CREATE_SAVED### begin
	This is the code shown when a new newsletter recipient is created.

	You can use the newly created record as markers on the format ###FIELD_[fieldname]###
-->

<div class="msg_bg" id="msg_bg_nw">
	<div id="nl_msg">
    	<img src="###THIS_URL###/files/src/images/bt_msg_box_close.jpg" id="btn_cls_nwl" /><br />
		<img src="###THIS_URL###/files/src/images/msg_box_line.gif">
		<p>Wir freuen uns über Ihr Interesse an der Deutschen Schulakademie. Gerne senden wir Ihnen künftig unsere Neuigkeiten zu.</p>
		<img src="###THIS_URL###/files/src/images/msg_box_line.gif">
  </div>
</div>
<div id="nwform">
	<form name="tt_address_form" method="post" action="###FORM_URL###">
		<p>Gerne informieren wir Sie über unsere aktuellen Projekte und Programme. Abonnieren Sie hier den Newsletter der Deutschen Schulakademie. Sie können diesen Service in jedem Newsletter abbestellen:</p>
		<div id="nwover">
			<div><label for="fe_ttaddress_gender_input" id="label-fe_ttaddress_gender">Anrede</label><br />
				<div>
					<select name="FE[tt_address][gender]">
						<option value="">bitte auswählen</option>
						<option value="m">Herr</option>
						<option value="f">Frau</option>
					</select>
				</div>
			</div>

			<div>
			  <label for="fe_ttaddress_name_input">Titel:</label>
			  <br />
			  <input type="text" name="FE[tt_address][title]" id="fe_ttaddress_title_input" />
		
			</div>
			<div>
		
			  <label for="fe_ttaddress_first_name_input">Vorname:</label><br>
			  <input type="text" name="FE[tt_address][first_name]" id="fe_ttaddress_first_name_input" />
			</div>
			<div>
				<label for="fe_ttaddress_name_input">Name:</label>
				<br />
				<input type="text" name="FE[tt_address][name]" id="fe_ttaddress_name_input" />

			</div>
			<div>
		
			  <label for="fe_ttaddress_first_company_input">Institution:</label><br>
			  <input type="text" name="FE[tt_address][company]" id="fe_ttaddress_first_company_input" />
			
			</div>
			<div>
				<label for="fe_ttaddress_email_input">E-Mail:</label><br />
				<input type="text" name="FE[tt_address][email]" id="fe_ttaddress_email_input" />
				<br />
			</div>
		</div>
        ###CE_CATLIST###
        <input type="hidden" name="FE[tt_address][module_sys_dmail_html]" value=0 id="fe_ttaddress_html_input" />
		<div id="nwformsubm_div">
        <input type="submit" name="whatever" value="Jetzt anmelden" id="nwformsubm" />
		</div>
        
        ###HIDDENFIELDS###
	</form>
</div>
<!-- ###TEMPLATE_CREATE_SAVED### end-->




<br /><br /><br /><br /><HR><br /><br /><br />
<em>	This is the form used to edit the existing users.</em>
<br />
<br />


<!-- ###TEMPLATE_EDIT### begin
	This is the form used to edit the existing users.

	The form works with non-logged in users based on email-verification
-->
<form name="tt_address_form" method="post" action="###FORM_URL###">
Edit profile<br />
<br />



<!-- ###SUB_REQUIRED_FIELDS_WARNING### begin
	This is a general warning about incorrectly filled in fields.
-->
<b>Some of the required fields are not correctly filled in! Please do that!</b><br />
<br />
<!-- ###SUB_REQUIRED_FIELDS_WARNING### end -->

<b><label for="fe_ttaddress_gender_input" id="label-fe_ttaddress_gender">Title</label></b><br />
<!--###SUB_REQUIRED_FIELD_gender### begin
	This is shown only if the form is submitted and the field is configured to be "required" and at the same time not filled in.
	The syntax is of the comment 'name' is: 	SUB_REQUIRED_FIELD_[enter-the-field-name-here]
-->
	<font color=red><strong>You must fill in this field!</strong></font><br />
<!--###SUB_REQUIRED_FIELD_gender### end -->
	<div>
		<select name="FE[tt_address][gender]">
			<option value="m">Mr.</option>
			<option value="f">Mrs.</option>
		</select>
	</div>


<b>Your name:</b><br />
<!--###SUB_REQUIRED_FIELD_name### begin
	This is shown only if the form is submitted and the field is configured to be "required" and at the same time not filled in.
	The syntax is of the comment 'name' is: 	SUB_REQUIRED_FIELD_[enter-the-field-name-here]
-->
	<font color=red><strong>You must fill in this field!</strong></font><br />
<!--###SUB_REQUIRED_FIELD_name### end -->
<input type="text" name="FE[tt_address][name]" />
<br />




<br />
<b>E-Mail:</b><br />
<!--###SUB_REQUIRED_FIELD_email### begin
	Same as above...
	EVAL_ERROR_FIELD_email is in addition an error message defined in TypoScript in case an email address does not verify to be of correct syntax.
-->
	<font color=red><strong>You must fill in this field!</strong></font><br />
	<font color="#005e44">###EVAL_ERROR_FIELD_email###</font><br />
<!--###SUB_REQUIRED_FIELD_email### end-->
<input type="text" name="FE[tt_address][email]">
<br />


###CE_CATLIST###

<br />
<b>HTML emails?</b><br />
<input type="checkbox" name="FE[tt_address][module_sys_dmail_html]" value="1" />
<br />

###CAPTCHA###
<br />

	###HIDDENFIELDS###
	<input type="Submit" name="whatever" value="Update">
</form>
<br />
Click here to <a href="###FORM_URL###&rU=###REC_UID###&aC=###AUTH_CODE###&cmd=delete"><strong>delete (!)</strong></a> your registration!
###GW2E###
<br />
<!-- ###TEMPLATE_EDIT### end-->



















<br /><br /><br /><br /><HR><br /><br /><br />
<em>	This is displayed when a user has updated his profile:</em>
<br />
<br />


<!-- ###TEMPLATE_EDIT_SAVED### begin
	This is displayed when a user has updated his profile:

	You can use the newly updated record as markers on the format ###FIELD_[fieldname]###
-->



<div class="msg_bg" id="msg_bg_nw">
	<div id="nl_msg">
    	<img src="###THIS_URL###/files/src/images/bt_msg_box_close.jpg" id="btn_cls_nwl" ><br />
		<img src="###THIS_URL###/files/src/images/msg_box_line.gif">
		<p>Profile changed<br />
          <br />
          You've updated your profile.
      </p>
		<img src="###THIS_URL###/files/src/images/msg_box_line.gif">
  </div>
</div>
<div id="nwform">
	<form name="tt_address_form" method="post" action="###FORM_URL###">
		<p>Gerne informieren wir Sie über unsere aktuellen Projekte und Programme. Abonnieren Sie hier den Newsletter der Deutschen Schulakademie. Sie können diesen Service in jedem Newsletter abbestellen:</p>
		<div id="nwover">
			<div><label for="fe_ttaddress_gender_input" id="label-fe_ttaddress_gender">Anrede</label><br />
				<div>
					<select name="FE[tt_address][gender]">
						<option value="">bitte auswählen</option>
						<option value="m">Herr</option>
						<option value="f">Frau</option>
					</select>
				</div>
			</div>

			<div>
			  <label for="fe_ttaddress_name_input">Titel:</label>
			  <br />
			  <input type="text" name="FE[tt_address][title]" id="fe_ttaddress_title_input" />
		
			</div>
			<div>
		
			  <label for="fe_ttaddress_first_name_input">Vorname:</label><br>
			  <input type="text" name="FE[tt_address][first_name]" id="fe_ttaddress_first_name_input" />
			</div>
			<div>
				<label for="fe_ttaddress_name_input">Name:</label>
				<br />
				<input type="text" name="FE[tt_address][name]" id="fe_ttaddress_name_input" />

			</div>
			<div>
		
			  <label for="fe_ttaddress_first_company_input">Institution:</label><br>
			  <input type="text" name="FE[tt_address][company]" id="fe_ttaddress_first_company_input" />
			</div>
			
			<div>
				<label for="fe_ttaddress_email_input">E-Mail:</label><br />
				<input type="text" name="FE[tt_address][email]" id="fe_ttaddress_email_input" />
				<br />
			</div>
		</div>
        ###CE_CATLIST###
        <input type="hidden" name="FE[tt_address][module_sys_dmail_html]" value=0 id="fe_ttaddress_html_input" />
		<div id="nwformsubm_div">
        <input type="submit" name="whatever" value="Jetzt anmelden" id="nwformsubm" />
		</div>
        
        ###HIDDENFIELDS###
	</form>
</div>
###GW2E###
<!-- ###TEMPLATE_EDIT_SAVED### end-->




























<br /><br /><br /><br /><HR><br /><br /><br />
<em>		This form is used to send the infomails.</em>
<br />
<br />



<!-- ###TEMPLATE_INFOMAIL### begin
	This form is used to send the infomails.
	You could also use this as a "did you forget your password?" service form.
-->
Do you wish to edit your profile?<br />
<br />

Enter the email address <em>by which you're registered</em> here, and a link to the administration will be sent to your account:<br />

<form name="tt_address_form" method="post" action="###FORM_URL###">
<input type="text" name="fetch" /><br />
###CAPTCHA###
<br />test
<input type="submit" name="whatever" value="Send" />
	###HIDDENFIELDS###
</form>
###GW2E###
<!-- ###TEMPLATE_INFOMAIL### end-->


















<br /><br /><br /><br /><HR><br /><br /><br />
<em>		This template is the response page when a users has requested his password send to his email.</em>
<br />
<br />

<!-- ###TEMPLATE_INFOMAIL_SENT### begin
	This template is the response page when a users has requested his password send to his email.
-->
An email has been sent to your account with the required information<br />
<br />


<a href="###BACK_URL###"><strong>Go back...</strong></a><br />
###GW2E###

<!-- ###TEMPLATE_INFOMAIL_SENT### end-->



<br /><br /><br /><br /><HR><br /><br /><br />
<em>		This template is the response page when no email is found.</em>
<br />
<br />

<!-- ###TEMPLATE_INFOMAIL_NORECORD### begin
	This template is the response page when no email is found.
-->
The email is not registered.<br />
<br />


<a href="###BACK_URL###"><strong>Go back to register.</strong></a><br />
###GW2E###

<!-- ###TEMPLATE_INFOMAIL_NORECORD### end-->











<br /><br /><br /><br /><HR><br /><br /><br />
<em>		This template is the response page when a users has delete his subscription.</em>

<!-- ###TEMPLATE_DELETE_SAVED### begin
	This is the message displayed if you have just deleted your subscription
-->


<div class="msg_bg" id="msg_bg_nw">
	<div id="nl_msg">
    	<img src="###THIS_URL###/files/src/images/bt_msg_box_close.jpg" id="btn_cls_nwl" ><br />
		<img src="###THIS_URL###/files/src/images/msg_box_line.gif">
		<p>Sie sind jetzt abgemeldet !</p>
		<img src="###THIS_URL###/files/src/images/msg_box_line.gif">
  </div>
</div>
<div id="nwform">
	<form name="tt_address_form" method="post" action="###FORM_URL###">
		<p>Gerne informieren wir Sie über unsere aktuellen Projekte und Programme. Abonnieren Sie hier den Newsletter der Deutschen Schulakademie. Sie können diesen Service in jedem Newsletter abbestellen:</p>
		<div id="nwover">
			<div><label for="fe_ttaddress_gender_input" id="label-fe_ttaddress_gender">Anrede</label><br />
				<div>
					<select name="FE[tt_address][gender]">
						<option value="">bitte auswählen</option>
						<option value="m">Herr</option>
						<option value="f">Frau</option>
					</select>
				</div>
			</div>

			<div>
			  <label for="fe_ttaddress_name_input">Titel:</label>
			  <br />
			  <input type="text" name="FE[tt_address][title]" id="fe_ttaddress_title_input" />
		
			</div>
			<div>
		
			  <label for="fe_ttaddress_first_name_input">Vorname:</label><br>
			  <input type="text" name="FE[tt_address][first_name]" id="fe_ttaddress_first_name_input" />
			</div>
			<div>
				<label for="fe_ttaddress_name_input">Name:</label>
				<br />
				<input type="text" name="FE[tt_address][name]" id="fe_ttaddress_name_input" />

			</div>
			<div>
		
			  <label for="fe_ttaddress_first_company_input">Institution:</label><br>
			  <input type="text" name="FE[tt_address][company]" id="fe_ttaddress_first_company_input" />
			</div>
			
			<div>
				<label for="fe_ttaddress_email_input">E-Mail:</label><br />
				<input type="text" name="FE[tt_address][email]" id="fe_ttaddress_email_input" />
				<br />
			</div>
		</div>
        ###CE_CATLIST###
        <input type="hidden" name="FE[tt_address][module_sys_dmail_html]" value=0 id="fe_ttaddress_html_input" />
		<div id="nwformsubm_div">
        <input type="submit" name="whatever" value="Jetzt anmelden" id="nwformsubm" />
		</div>
        
        ###HIDDENFIELDS###
	</form>
</div>


###GW2E###
<!-- ###TEMPLATE_DELETE_SAVED### end-->


















<br />
<br />
<h2>'Setfixed' templates:</h2>


<br /><br /><br /><br /><HR><br /><br /><br />
<em>This template is the response page when a users has clicked a setfixed link.</em>
<br />
<br />
<!-- ###TEMPLATE_SETFIXED_OK### begin
	This is the message displayed if you have just deleted your subscription
-->



<div class="msg_bg" id="msg_bg_nw">
	<div id="nl_msg">
    	<img src="###THIS_URL###/files/src/images/bt_msg_box_close.jpg" id="btn_cls_nwl" ><br />
		<img src="###THIS_URL###/files/src/images/msg_box_line.gif">
		<p>Vielen Dank! Ihre Anmeldung wurde bestätigt.</p>
		<img src="###THIS_URL###/files/src/images/msg_box_line.gif">
  </div>
</div>
<div id="nwform">
	<form name="tt_address_form" method="post" action="###FORM_URL###">
		<p>Gerne informieren wir Sie über unsere aktuellen Projekte und Programme. Abonnieren Sie hier den Newsletter der Deutschen Schulakademie. Sie können diesen Service in jedem Newsletter abbestellen:</p>
		<div id="nwover">
			<div><label for="fe_ttaddress_gender_input" id="label-fe_ttaddress_gender">Anrede</label><br />
				<div>
					<select name="FE[tt_address][gender]">
						<option value="">bitte auswählen</option>
						<option value="m">Herr</option>
						<option value="f">Frau</option>
					</select>
				</div>
			</div>

			<div>
			  <label for="fe_ttaddress_name_input">Titel:</label>
			  <br />
			  <input type="text" name="FE[tt_address][title]" id="fe_ttaddress_title_input" />
		
			</div>
			<div>
		
			  <label for="fe_ttaddress_first_name_input">Vorname:</label><br>
			  <input type="text" name="FE[tt_address][first_name]" id="fe_ttaddress_first_name_input" />
			</div>
			<div>
				<label for="fe_ttaddress_name_input">Name:</label>
				<br />
				<input type="text" name="FE[tt_address][name]" id="fe_ttaddress_name_input" />

			</div>
			<div>
		
			  <label for="fe_ttaddress_first_company_input">Institution:</label><br>
			  <input type="text" name="FE[tt_address][company]" id="fe_ttaddress_first_company_input" />
			</div>
			
			<div>
				<label for="fe_ttaddress_email_input">E-Mail:</label><br />
				<input type="text" name="FE[tt_address][email]" id="fe_ttaddress_email_input" />
				<br />
			</div>
		</div>
        ###CE_CATLIST###
        <input type="hidden" name="FE[tt_address][module_sys_dmail_html]" value=0 id="fe_ttaddress_html_input" />
		<div id="nwformsubm_div">
        <input type="submit" name="whatever" value="Jetzt anmelden" id="nwformsubm" />
		</div>
        
        ###HIDDENFIELDS###
	</form>
</div>

<!-- ###TEMPLATE_SETFIXED_OK### end-->


<br /><br /><br /><br /><HR><br /><br /><br />
<em>This template is the response page when a users has clicked a setfixed link.</em>
<br />
<br />
<!-- ###TEMPLATE_SETFIXED_OK_DELETE### begin
	This is the message displayed if you have just deleted your subscription
-->

<div class="msg_bg" id="msg_bg_nw">
	<div id="nl_msg">
    	<img src="###THIS_URL###/files/src/images/bt_msg_box_close.jpg" id="btn_cls_nwl" ><br />
		<img src="###THIS_URL###/files/src/images/msg_box_line.gif">
		<p>Sie erhalten in Zukunft keine Informationen mehr von der Deutschen Schulakademie.</p>
		<img src="###THIS_URL###/files/src/images/msg_box_line.gif">
  </div>
</div>
<div id="nwform">
	<form name="tt_address_form" method="post" action="###FORM_URL###">
		<p>Gerne informieren wir Sie über unsere aktuellen Projekte und Programme. Abonnieren Sie hier den Newsletter der Deutschen Schulakademie. Sie können diesen Service in jedem Newsletter abbestellen:</p>
		<div id="nwover">
			<div><label for="fe_ttaddress_gender_input" id="label-fe_ttaddress_gender">Anrede</label><br />
				<div>
					<select name="FE[tt_address][gender]">
						<option value="">bitte auswählen</option>
						<option value="m">Herr</option>
						<option value="f">Frau</option>
					</select>
				</div>
			</div>

			<div>
			  <label for="fe_ttaddress_name_input">Titel:</label>
			  <br />
			  <input type="text" name="FE[tt_address][title]" id="fe_ttaddress_title_input" />
		
			</div>
			<div>
		
			  <label for="fe_ttaddress_first_name_input">Vorname:</label><br>
			  <input type="text" name="FE[tt_address][first_name]" id="fe_ttaddress_first_name_input" />
			</div>
			<div>
				<label for="fe_ttaddress_name_input">Name:</label>
				<br />
				<input type="text" name="FE[tt_address][name]" id="fe_ttaddress_name_input" />

			</div>
			<div>
		
			  <label for="fe_ttaddress_first_company_input">Institution:</label><br>
			  <input type="text" name="FE[tt_address][company]" id="fe_ttaddress_first_company_input" />
			</div>
			
			<div>
				<label for="fe_ttaddress_email_input">E-Mail:</label><br />
				<input type="text" name="FE[tt_address][email]" id="fe_ttaddress_email_input" />
				<br />
			</div>
		</div>
        ###CE_CATLIST###
        <input type="hidden" name="FE[tt_address][module_sys_dmail_html]" value=0 id="fe_ttaddress_html_input" />
		<div id="nwformsubm_div">
        <input type="submit" name="whatever" value="Jetzt anmelden" id="nwformsubm" />
		</div>
        
        ###HIDDENFIELDS###
	</form>
</div>
<!-- ###TEMPLATE_SETFIXED_OK_DELETE### end-->




<br /><br /><br /><br /><HR><br /><br /><br />
<em>This template is the response page when a users has clicked a setfixed link.</em>
<br />
<br />
<!-- ###TEMPLATE_SETFIXED_FAILED### begin
	This is the message displayed if you have just deleted your subscription
-->

<div class="msg_bg" id="msg_bg_nw">
	<div id="nl_msg">
    	<img src="###THIS_URL###/files/src/images/bt_msg_box_close.jpg" id="btn_cls_nwl" ><br />
		<img src="###THIS_URL###/files/src/images/msg_box_line.gif">
		<p>Bitte entschuldigen Sie. Die Änderung ist fehlgeschlagen. Dies kann passieren, wenn Sie ein zweites Mal auf den Link klicken.</p>
		<img src="###THIS_URL###/files/src/images/msg_box_line.gif">
  </div>
</div>
<div id="nwform">
	<form name="tt_address_form" method="post" action="###FORM_URL###">
		<p>Gerne informieren wir Sie über unsere aktuellen Projekte und Programme. Abonnieren Sie hier den Newsletter der Deutschen Schulakademie. Sie können diesen Service in jedem Newsletter abbestellen:</p>
		<div id="nwover">
			<div><label for="fe_ttaddress_gender_input" id="label-fe_ttaddress_gender">Anrede</label><br />
				<div>
					<select name="FE[tt_address][gender]">
						<option value="">bitte auswählen</option>
						<option value="m">Herr</option>
						<option value="f">Frau</option>
					</select>
				</div>
			</div>

			<div>
			  <label for="fe_ttaddress_name_input">Titel:</label>
			  <br />
			  <input type="text" name="FE[tt_address][title]" id="fe_ttaddress_title_input" />
		
			</div>
			<div>
		
			  <label for="fe_ttaddress_first_name_input">Vorname:</label><br>
			  <input type="text" name="FE[tt_address][first_name]" id="fe_ttaddress_first_name_input" />
			</div>
			<div>
				<label for="fe_ttaddress_name_input">Name:</label>
				<br />
				<input type="text" name="FE[tt_address][name]" id="fe_ttaddress_name_input" />

			</div>
			<div>
		
			  <label for="fe_ttaddress_first_company_input">Institution:</label><br>
			  <input type="text" name="FE[tt_address][company]" id="fe_ttaddress_first_company_input" />
			</div>
			
			<div>
				<label for="fe_ttaddress_email_input">E-Mail:</label><br />
				<input type="text" name="FE[tt_address][email]" id="fe_ttaddress_email_input" />
				<br />
			</div>
		</div>
        ###CE_CATLIST###
        <input type="hidden" name="FE[tt_address][module_sys_dmail_html]" value=0 id="fe_ttaddress_html_input" />
		<div id="nwformsubm_div">
        <input type="submit" name="whatever" value="Jetzt anmelden" id="nwformsubm" />
		</div>
        
        ###HIDDENFIELDS###
	</form>
</div>
<!-- ###TEMPLATE_SETFIXED_FAILED### end-->
















<br /><br /><br /><br /><HR>
<p><br />
  <br /><br />
  <em>	Authentication failed message.</em>
</p>
<p><br />
  <br />
  
  <!-- ###TEMPLATE_AUTH### begin
	Authentication failed message
-->
  Authentication failed!<br />
  <br />
  
  For some reason the authentication failed.
  ###GW2E###
  <!-- ###TEMPLATE_AUTH### end-->
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</p>
<H1>EMAIL TEMPLATES:</H1>
In these plain text email templates the first line with content is used as subject in the mails.<br />

<br /><br /><br /><br /><HR><br /><br /><br />
<em>Diese Vorlage wird verwendet, um eine Person, die von E-Mail, dass er sich für den Newsletter eingetragen benachrichtigen<br />
Sie können die neu erstellte Datensatz als Markierungen in der Format ###FIELD_[fieldname]###
</em>
<br />
<br />

<!-- ###EMAIL_TEMPLATE_CREATE_SAVED### begin
	This template is used to notify a person by email that he is subscribed to the newsletter.
	You can use the newly created record as markers on the format ###FIELD_[fieldname]###
-->
<!--###SUB_RECORD###-->
Ihre Newsletter-Anmeldung


Sehr geehrte(r) ###FIELD_title### ###FIELD_first_name### ###FIELD_name### 

wir freuen uns sehr über Ihr Interesse an der Deutschen Schulakademie. Gerne senden wir Ihnen künftig unsere Neuigkeiten zu.

Zur Bestätigung Ihrer Anmeldung klicken Sie bitte folgenden Link oder kopieren ihn in die Adresszeile Ihres Browsers:

###THIS_URL######FORM_URL###1=1###SYS_SETFIXED_approve###

Sollten Sie keine Informationen von der Deutschen Schulakademie wünschen, klicken Sie einfach auf folgenden Link und Ihre Daten werden aus der Datenbank gelöscht:

###THIS_URL######FORM_URL###1=1###SYS_SETFIXED_DELETE###

Bis dahin verbleiben wir mit freundlichen Grüßen,

Ihre
Deutsche Schulakademie

Die Deutsche Schulakademie gGmbH
Französische Straße 32
10117 Berlin
Tel: + 49 (0)30/220025-105
E-Mail: newsletter@deutsche-schulakademie.de

<!--###SUB_RECORD###-->
<!-- ###EMAIL_TEMPLATE_CREATE_SAVED### end-->

<br /><br /><br /><br /><HR><br /><br /><br />
<em>This template is used to notify a person by email that he has confirmed the subscription.<br />
You can use the newly created record as markers on the format ###FIELD_[fieldname]###
</em>
<br />
<br />



<!-- ###EMAIL_TEMPLATE_SETFIXED_approve### begin
	This template is used to notify a person by email that he has confirmed his subscription
	You can use the newly created record as markers on the format ###FIELD_[fieldname]###
-->
<!--###SUB_RECORD###-->
Ihre Newsletter-Bestätigung war erfolgreich

Vielen Dank für Ihre Anmeldung. Sie wurden soeben in unseren Newsletter-Verteiler aufgenommen. Wir wünschen Ihnen viel Vergnügen mit unseren regelmässigen Informationen. 

<!--###SUB_RECORD###-->
<!-- ###EMAIL_TEMPLATE_SETFIXED_approve### end-->

<br /><br /><br /><br /><HR><br /><br /><br />
<em>This is the template used for the administrator notifycation email upon a new subscription.<br />
You can use the newly created record as markers on the format ###FIELD_[fieldname]###
</em>
<br />
<br />



<!-- ###EMAIL_TEMPLATE_CREATE_SAVED-ADMIN### begin
 	This is the template used for the administrator notifycation email upon a new subscription.
	You can use the newly created record as markers on the format ###FIELD_[fieldname]###
-->
<!--###SUB_RECORD###-->
Admin: neues Abonnement

Name: ###FIELD_name###
Vorname: ###FIELD_first_name###
E-Mail: ###FIELD_email###
<!--###SUB_RECORD###-->
<!-- ###EMAIL_TEMPLATE_CREATE_SAVED-ADMIN### end-->

<br /><br /><br /><br /><HR><br /><br /><br />
<em>The template for forgotten passwords (infomail 'FORGOTPASSWORD' template!)</em>
<br />
<br />

<!-- ###EMAIL_TEMPLATE_FORGOTPASSWORD### begin
	The template for forgotten passwords (infomail 'FORGOTPASSWORD' template!)
-->
<!--###SUB_RECORD###-->
TYPO3 Testsite Newsletter, Admin link

Dear ###FIELD_tx_directmailsubscription_localgender### ###FIELD_name###

Click here to edit your personal data
###THIS_URL######FORM_URL###&cmd=edit&aC=###SYS_AUTHCODE###&rU=###FIELD_uid###

Click here to DELETE (!) your subscription
###THIS_URL######FORM_URL###&cmd=delete&aC=###SYS_AUTHCODE###&rU=###FIELD_uid###
<!--###SUB_RECORD###-->
<!-- ###EMAIL_TEMPLATE_FORGOTPASSWORD### end-->

<br /><br /><br /><br /><HR><br /><br /><br />
<em>Template used if the infomail was empty!</em>
<br />
<br />

<!-- ###EMAIL_TEMPLATE_NORECORD### begin
	Template used if the infomail was empty!
-->
Eintrag nicht gefunden.

Sie haben Informationen über ein Abonnement angefordert , aber es wurde nichts gefunden.

Entschuldigung.

<!-- ###EMAIL_TEMPLATE_NORECORD### end-->

</body>
</html>
