@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ec72tj');
  src:  url('fonts/icomoon.eot?ec72tj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ec72tj') format('truetype'),
    url('fonts/icomoon.woff?ec72tj') format('woff'),
    url('fonts/icomoon.svg?ec72tj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dots:before {
  content: "\e90d";
}
.icon-arrow:before {
  content: "\e90c";
}
.icon-map-pin:before {
  content: "\e900";
}
.icon-watch:before {
  content: "\e901";
}
.icon-cellphone:before {
  content: "\e902";
}
.icon-envelope:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e904";
}
.icon-termine:before {
  content: "\e905";
}
.icon-question:before {
  content: "\e906";
}
.icon-enlarge:before {
  content: "\e907";
}
.icon-minimize:before {
  content: "\e908";
}
.icon-chat:before {
  content: "\e909";
}
.icon-letter:before {
  content: "\e90a";
}
.icon-programm:before {
  content: "\e90b";
}

