*{
	outline: none;
}
body{
	font: 400 19px/1.5em Arial, sans-serif;
	color: #1a171b;
	background: #fff;
	overflow-x:hidden; 
	-ms-overflow-style: scrollbar;
}
a{
	color: #005e44;
	text-decoration: underline;
	-webkit-transition: all .2s ease-in-out 0s;
	-moz-transition: all .2s ease-in-out 0s;
	-o-transition: all .2s ease-in-out 0s;
	-ms-transition: all .2s ease-in-out 0s;
	transition: all .2s ease-in-out 0s;  
}
a:hover, a:active, a:focus{
	color: #005e44;
	text-decoration: none;
	outline: none;
}
h1, h2, .h1, .h2{
	font: 400 1.9em/1.25em Georgia, 'Times New Roman', Times, serif;
	text-align:center;
	margin:20px 0;
	display: block;
}
h1:after, h2:after, .h1:after, .h2:after{
	content: ":";
	color: #e42221;
}
p{
	margin-bottom:2em;
}
.center{
	text-align: center;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
.inline-block{
	float:none;
	display:inline-block;
	vertical-align: middle;
}
.bg-white{
	background: #fff;
}
.bg-green{
	background-color: #005e45;
	color: #fff;
}
.bg-light-green{
	background-color: #ecf5f4;
	color: #1a171b;
}
.margin-0{
	margin:0;
}
.padding-0{
	padding:0;
}
.content-block img{
	max-width: 100%;
	height: auto;
}
.btn-block{
	margin: 20px 0;
}
.btn-main {
    background-color: #005e45;
    border: 0 none;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font: 400 19px/24px Arial,sans-serif;
    min-width: 180px;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none !important;
    transition: all 0.2s ease-in-out 0s;
}
a.btn-main:after{
	content: '';
}
.btn-main:hover, 
.btn-main:active, 
.btn-main:focus{
	color: #fff;
	text-decoration: none;
	opacity:0.8;
}
.btn-white{
	background-color: #fff;
	color: #005e45;
}
.btn-white:hover, 
.btn-white:active, 
.btn-white:focus{
	color: #005e45;
	text-decoration: none;
	opacity:0.8;
}
.btn-invert {
    background: #fff;
    color: #005e45;
    border: 1px solid #005e45;
}

.btn-invert:hover,
.btn-invert:active,
.btn-invert:focus,
.btn-invert.active {
    color: #fff;
    background: #005e45;
}
.relative-pos{
	position:relative;
}
.form-control{
	border: 1px solid #005e44;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	color: #1a171b;
}
.module-item {
	margin:70px 0;
}
.module-content{
	margin:40px 0;
}
.readmore-link{
	font: 400 12px/2em Arial, sans-serif;
}
.readmore-link:after{
	content: ' >';
}
/* Grid */
.container{
	max-width: 970px;
}
.container .container-fluid{
	padding-left: 0;
	padding-right: 0;    
}
@media (max-width: 767px){
	.container-fluid{
		padding-left: 0;
		padding-right: 0;
	}  
	.col-xs-12.padding-0{
		padding-left:15px;
		padding-right:15px;
	}  
	.content-wrapper .bg-white .col-xs-12.padding-0{
		background: #fff;
	}
}
@media (max-width: 480px){
	.hidden-sxs{
		display: none;
	}  
}
/* Hack gutter between content and modules */

/* Header */


header.top{
	position:relative;
	padding-top:210px;
}
.top-block{
	background: #fff;
	border: none;
	margin-bottom:0!important;
}
.top-block-row{
	font-size: 0;
}
.top-block-item{
	display:inline-block;
	float:none;
	clear:both;
	vertical-align: middle;
	margin:35px 0;
	position:relative;
}
.top-block-logo img{
	max-width:180px;
	height: auto;
}
@media (max-width: 480px){
	.top-block-logo img{
		max-width: 150px;
		height: auto;
	}
}
.flex-box-user{
	display:-ms-flex;
	display:-moz-flex;
	display:-o-flex;
	display:-webkit-flex;
	display:flex;
	-webkit-justify-content: space-between; 
	-moz-justify-content: space-between; 
	-ms-justify-content: space-between; 
	justify-content: space-between; 
	-webkit-flex-flow: row nowrap;  
	-moz-flex-flow: row nowrap;  
	-ms-flex-flow: row nowrap;  
	flex-flow: row nowrap;  
	margin-left:-50px;
}
.top-block-label{
	font-size:14px;
	line-height: 1.4em;
	min-width:30%;
	margin: auto;
	text-align: center;
}

.top-block-user{
	text-align: right;
	min-width:20%;
	white-space: nowrap;
}

.top-block-soc, .top-block-search{
	display: inline-block;
	vertical-align: middle;
}
.top-block-soc a{
	display: inline-block;
	font-size:20px;
	width:32px;
	height: 30px;
	vertical-align: middle;
	text-align: center;
	line-height: 32px;
	margin-right:15px;
}
.top-block-search{
	font: 400 14px Arial, sans-serif;
	color: #005e44;
	display: inline-block;
	vertical-align: middle;
}
.top-block-search form{
	position: relative;
}
.top-block-search .search-button{
	padding: 3px 5px;
	font-size:19px;
	background: transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: none;
	color: #005e44;
	cursor: pointer;
	display: inline-block;
	width:30px;
}
.top-block-search .search-field{
	border:none;
	border-bottom: 1px solid #005e44;
	padding:3px 0px;
	max-width: 160px!important;
	height:30px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	width: 0!important;
	font: 400 12px Arial, sans-serif;
}
.top-block-search .search-field.active{
	width: 160px!important;
	padding:3px;
}

/*- header adaptation -*/
@media (max-width:1370px){
	.top-block-item{
		margin: 25px 0;
	}
	.top-block-logo img{
		max-width: 160px;
	}
}
/*-#header adaptation -*/

@media (max-width:991px){
	.top-block-label{
		max-width:235px;     
	}
}
@media (max-width:767px){
	.top-block-item{
		margin:15px 0;
	}
	.flex-box-user{
		display:block;
		margin-left:0;
	}
	.top-block-item{
		position: static;
		display: block;
	}
	.border-xs{
		padding-bottom:16px;
		border-bottom: 1px solid #cfdbd8;
	}
	.top-block-soc{
		position: absolute;
		top: 20px;
		right: 15px;        
	}
	.top-block-search .search-field{
		width:160px!important;
		padding:3px;
	}
	.top-block-soc{
		margin:0 -10px;
	}
	.top-block-soc a{
		font-size: 28px;
		margin-right: 20px;
		margin:0 10px;
	}
	.top-block-user{
		text-align: left;
	}
}

/* Main Menu */
.mainmenu{
	border-top: 1px solid #cfdbd8;
	border-bottom:25px solid #005e45;
}
.mainmenu .navbar-collapse{
	position:relative;
}
.mainmenu a{
	font: 400 14px Arial, sans-serif;
}
.mainmenu a:not(.btn-main):after{
	content:':';
	color: #f00;
	font-weight: 700; 
}
.nav>li{
	position:static;
}
.mainmenu ul.nav{
	margin-top:0;
	margin-bottom: 0;
}
.mainmenu ul.nav>li>a{
	display: block;
	padding:20px 20px 35px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

/*- header adaptation -*/
@media (max-width:1370px){
.mainmenu ul.nav>li>a{
		padding:15px 16px 30px;
	}
}
/*-#header adaptation -*/

.mainmenu ul.nav>li>a:hover, 
.mainmenu ul.nav>li>a:focus, 
.mainmenu ul.nav>li>a:active,
.mainmenu ul.nav>li.open>a,
.mainmenu ul.nav>li.active>a,
.mainmenu ul.nav>li.open>a:hover, 
.mainmenu ul.nav>li.open>a:focus, 
.mainmenu ul.nav>li.open>a:active{
	background: #005e45;
	color: #fff;
	text-decoration: none;
}
.mainmenu ul.nav>li>a:hover:after,
.mainmenu ul.nav>li>a:focus:after,
.mainmenu ul.nav>li>a:active:after,
.mainmenu ul.nav>li.active>a:after,
.mainmenu ul.nav>li.open>a:after{
	color:#fff;
}
.mainmenu .dropdown-menu-col{
	list-style: none;    
	width:25%;
	font-size: 14px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding:0 10px; 
}
.dropdown-menu{
	padding:25px 25px 15px;
	font-size: 0;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
	-ms-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-top:25px solid #005e45;
}
.flex-block{ 
	display: -webkit-flex; 
	display: -moz-flex; 
	display: -ms-flex; 
	display: flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-align-items: flex-start;
	-moz-align-items: flex-start;
	-ms-align-items: flex-start;
	align-items: flex-start;
}
.flex-between{
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
}
.flex-middle{
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}
.mainmenu .flex-block{
	margin-left: -10px;
	margin-right: -10px;
}
.dropdown-left-75{
	float:left;
	width:75%;
}
.dropdown-right-25{
	float:right;
	width:25%;
}
.mainmenu .dropdown-left-75 .dropdown-menu-col{
	width:33%; 
}
.mainmenu .dropdown-menu-col li{
	display:block;
	padding:5px 0;
	border-bottom: 1px solid #005e45;
}
.mainmenu .dropdown-menu-col li a{
	display:block;
	height:100%;
	width: 100%;
	padding:10px;    
}
.mainmenu .dropdown-menu-col li a:hover,
.mainmenu .dropdown-menu-col li a:active,
.mainmenu .dropdown-menu-col li a:focus{
	background-color: #005e45;
	color: #fff;
	text-decoration: none;
}
.mainmenu .dropdown-menu-col li a:hover:after,
.mainmenu .dropdown-menu-col li a:focus:after,
.mainmenu .dropdown-menu-col li a:active:after{
	color:#fff;
}

/* 3rd Level */
.dropdown-3-menu{
	display: none;
	padding:10px 0 0;
}
.mainmenu .dropdown-3-menu li{
	border-bottom: 0 none;
	padding:5px 0!important;

}
.mainmenu .dropdown-3-menu li a{
	font-size: 12px;
	line-height: 1.2em;
	padding:5px 10px;
}

.mainmenu .dropdown-3-menu li.bottom-line {    
    padding: 5px 0 15px !important;
    margin-bottom: 5px;
}
@media (min-width: 768px){
    .mainmenu .dropdown-3-menu li.bottom-line {
        border-bottom: 1px solid #005e45;
        margin-bottom: 10px;
    }
    
}
.mainmenu .dropdown-3-level a{
	padding-left: 20px!important;
	position:relative;
	display: block!important;
	width: 100%;
}
.dropdown-3-level.open>a,
.dropdown-3-level.open>a:hover,
.dropdown-3-level.open>a:active,
.dropdown-3-level.open>a:focus,
.dropdown-3-level a:hover,
.dropdown-3-level a:active,
.dropdown-3-level a:focus{
	background: #005e45;
	color: #fff;
}
.dropdown-3-level>a:before{
	color: #fff;
	font-family: FontAwesome;
	content:'\f067 ';
	position:absolute;
	font-size: 12px;
	width:15px;
	height:15px;
	line-height: 16px;
	text-align: center;
	left:2px;
	display:inline-block;
	background-color: #005e45;

}
.dropdown-3-level.open>a:before,
.dropdown-3-level>a:hover:before,
.dropdown-3-level>a:active:before,
.dropdown-3-level>a:focus:before{
	content:'\f068 ';
	color:#fff;
	background: transparent;
}
.dropdown-3-level.open>a:after{
	color: #fff;
}

.dropdown-3-level span.header-3-level{
	text-transform: uppercase;
    color: #4D8C7B;
    display: block;
    margin-bottom: -5px;
}

@media (min-width: 768px){
    .dropdown-3-level span.header-3-level{
        font-size: 12px;
        padding: 0 20px;
        margin-bottom: -10px;
    }
}
.navbar-toggle .icon-bar{
	background: #005e45;
	height:3px;
	width:27px;
}
.navbar-toggle .icon-bar + .icon-bar{
	margin-top:5px;
}
@media (max-width: 767px){
	header.top{
		padding-top:160px
	}
	.navbar-header{
		border-bottom:12px solid #005e45;
	}
	.navbar-collapse{
		border:none;
		max-height: none!important;
	}
	.mainmenu{
		border-bottom:none;
	}
	.mainmenu ul.nav>li{
		margin-bottom: 5px;
	}
	.mainmenu ul.nav>li>a{
		padding:15px;
		display:block;
		background: #005e45;
		color: #fff;
	}
	.mainmenu ul.nav a{
		text-transform: uppercase;
	}
	.mainmenu ul.nav a:after{
		content: '';
	}
	.mainmenu .dropdown-menu-col>li>a,
	.mainmenu .dropdown-menu-col>li>a:hover{
		display:block;
		width: 100%;
		padding:10px;    
	}
	.dropdown-menu, .dropdown-3-menu, .dropdown-menu .flex-block{
		display:block;
		position:static;
		float:none;
		margin:0;
	}
	.dropdown-menu{
		border: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		padding:10px;
	}
	.dropdown-3-menu{
		padding-left:20px;  
	}
	.mainmenu .dropdown-menu-col,
	.dropdown-left-75{
		width:100%!important;
	}
	.mainmenu .dropdown-menu-col li{
		display:block;
		padding:5px 0;
		border-bottom: none;
	}
	.mainmenu .dropdown-menu-col li a,
	.mainmenu .dropdown-menu-col li a:hover{
		display:block;
		width: 100%;
		padding:5px;
		color: #005e45;
		background: none;
	}
	.mainmenu .dropdown-menu-col li a:hover{
		text-decoration: underline;
	}
	.mainmenu .dropdown-3-level a{
		padding-left: 0!important;
	}
	.mainmenu .dropdown-3-level a:before{
		content:'';
		display:none;
	}
	.top-block-item{
		margin-bottom: 0
	}
	.top-block-search{
		position: absolute;
		margin-top:10px;
	}

}
@media (max-width: 480px){
	header.top{
		padding-top: 100px; 
	}
}

/* Breadcrumbs */

.breadcrumbs-block{
	background-color: #005e45;
}
.breadcrumbs-nav{
	list-style: none;
	padding: 0;
	margin: -15px 0 10px;
}
/*- header adaptation -*/
@media (max-width:1370px){
	.breadcrumbs-nav{
		margin: -20px 0 5px;
	}
}
/*-#header adaptation -*/
@media (max-width:767px){
	.breadcrumbs-nav{
		margin: -10px 0 5px;
	}    
}
.breadcrumbs-nav-item{
	display: inline-block;
}
.breadcrumbs-nav-item{
	color: #fff;
	font-size: 14px;
	line-height: 1.5em;
}
.breadcrumbs-nav-item > a,
.breadcrumbs-nav-item > a:hover,
.breadcrumbs-nav-item > a:active,
.breadcrumbs-nav-item > a:focus{
	color: #fff;
}
.breadcrumbs-nav-item:after{
	content: '\e004';
	font-size: 8px;
	font-family: "Flaticon"; 
	color:#fff;
	display: inline-block;
	vertical-align: bottom;
	padding:0 0 0 3px;
}
.breadcrumbs-nav-item:last-child:after{
	content:'';
}
.breadcrumbs-nav-item > *:after{
	content: ':';
}
/* #Breadcrumbs */

/* Top Sticker */
.top-sticker{
	margin: 20px 0;
}
.top-sticker-label{
	color:#fff;
	background-color: #005e45;
	padding:3px 10px;
	text-align: center;
	text-transform: uppercase;
}
@media (min-width: 992px){
	.top-sticker-label{
		margin-right:-15px;
	} 
}
.top-sticker-label:after{
	content:':'
}
.top-sticker-messages a{
	padding:3px 40px;
	position:relative;
	white-space: nowrap;
	display: block;
	letter-spacing: -0.01em;
}
.top-sticker-messages a:before,
.top-sticker-messages a:after{
	content:' +++ ';
	color: #000;
	position:absolute;
}
.top-sticker-messages a:before{
	margin-left:-35px;

}
.top-sticker-messages a:after{
	margin-left:5px;
}
@media (max-width:767px){
	.top-sticker-messages a{
		text-align: center;
		white-space: normal;
	}    
}
/* Content Block Wrapper Style */
section.content{
	position: relative;
	max-width: 1900px;
	margin: 0 auto;
	overflow: hidden;
}
.content-wrapper{
	position: relative;
	z-index: 2;
}
.content-block{
	padding-top:60px;
}

.content-block > *:first-child,
.content-block > *:first-child > *:first-child{
	margin-top: 0;

}
/* Frontpage slider overload style */
.frontpage-slider .slick-list{
	overflow: visible;
}
.frontpage-slider .slick-slide img{
	max-width:none!important
}
@media (min-width:1280px){  
	.frontpage-slider .slick-arrow{
		top:340px;
	}
}
@media(max-width: 767px){
	.frontpage-slider .slide-item{
		overflow: hidden;
	}
	.frontpage-slider .slick-dots{
		position: relative;
		z-index: 3;
	}
}

/* Slides */
.slide-item{
	max-width: 1900px;
	margin: 0 auto;
	max-height:680px;
	-webkit-box-sizing: border-box!important;
	-moz-box-sizing: border-box!important;
	box-sizing: border-box!important;
	text-align: center;
	position: relative;
}
.slide-image-block{
	position: absolute;
	overflow: hidden;
	width:100%;
	top:0;
	z-index: 1;
}
.slide-image-block img{
	display:block;
	-webkit-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-ms-transform: translate(-50%);
	transform: translate(-50%);
	position: relative;
	left:50%;
	max-width: 100%;
	height: auto;
}
.slide-image-block.page-fixed-slide img{
	max-width: none;
}
@media (max-width:767px){
	.slide-image-block{
		position: relative;
		display: none;
	}		
}
.slide-text-block{
	padding-top:50px;
	position: relative;
	z-index: 2;
}
.slide-text-block .h2:after {
	display: none;
}
h1.nodots:after {
	display: none;
}
@media (min-width:768px){
	.slide-item, .slide-text-block{
		min-height:150px;
	}
}
/*- header adaptation -*/
@media (min-width:1370px){
	.slide-item, .slide-text-block{
		min-height:280px;
	}
}
/*-#header adaptation -*/

/* Latest News */
.article-block-item{
	margin:15px 0;
}
.article-block-title{
	padding-bottom:20px;
	margin-bottom:25px;
	position:relative;
}
.article-block-title:after{
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	width: 100px;
	height: 1px;
	background: #005e45;
}
.article-item-title{
	font: 400 19px/28px Arial, sans-serif;
	color: #005e45;
	text-align:left;
}
.article-item-title a{
	display: block;
}
.article-publish-date{
	font: 400 12px/2em Arial, sans-serif;
	display:block;
	white-space: nowrap;
	margin-top:15px;
	color: #545454;
}
.article-text-small{
	font: 400 16px/1.5em Arial, sans-serif;
}
.article-readmore{
	padding-top:0;
}
.article-button-link{
	min-width: auto;
}
/* Info Graphics */
.infographics-wrapper{
	overflow: hidden;
}
.infographics-block{
	padding: 20px 0 20px 0px;
	position: relative;
}
.infographics-left:before{
	content: '';
	display:block;
	width:1000%;
	height:100%;
	position: absolute;
	overflow: visible;
	top:0;
	right:100%;
	margin-right:120px;
	background-image: url('../images/infographics/bg-infographic.png');
	background-position: 100% 0;
	-webkit-background-size: auto 100%;
	-moz-background-size: auto 100%;
	-ms-background-size: auto 100%;
	background-size: auto 100%;
	background-repeat: repeat;

}
.infographics-right{
	position: relative;
	padding: 20px 0 20px 8.3333%;
}
@media (max-width:767px){
	.infographics-right{
		padding-left:0;
	}    
}
.infographics-right:after{
	content: '';
	position: absolute;
	left:99%;
	top: 0;
	display:block;
	width: 1000%;
	height: 100%;
	background-color: #005e45;
}
.infographics-icon{
	display: table-cell;
	vertical-align: middle;
	height: 75px;
}
.infographics-icon img{
	vertical-align: middle;
	display: inline-block;
}

.infographics-text{
	font-size: 28px;
	text-align: left;
}

/* Quotes Style */
.quotes-slider{
	position: relative;
}
.quotes-item-text{
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-bottom: 50px;
}
.quotes-item-text:before, 
.quotes-item-text:after{
	content: '';
	position: absolute;
	width: 100px;
	height: 1px;
	left: 0;
	background-color: #005e45;
}
.quotes-item-text:before{
	top:0;
}
.quotes-item-text:after{
	bottom:0;
}
.quotes-item-author img{
	display:block;
	max-width: 100%;
	height: auto;
}
.quotes-author-block{
	position: relative;
	padding:20px 50px 5px 60px;
}
.quotes-author-block:after{
	content: '\201C';
	color: #ffffff;
	font: 700 40px/1.4em Georgia;
	display: block;
	text-align: center;
	vertical-align: middle;
	width: 40px;
	height: 40px;
	position: absolute;
	top:0;
	left: 0;
	background-color: #005e45;
}
.quotes-author-name {
	margin-bottom: 15px;
	margin-top: 30px;
}
.quotes-author-status{
	font-size: 12px;
	line-height: 1.4em;
}
@media (min-width: 768px) and (max-width: 991px){
	.quotes-author-block{
		padding: 50px 15px 5px 15px;
	} 
}
@media (min-width:480px) and (max-width:767px){
	.quotes-item-author img, .quotes-item-author .quotes-author-block{
		float:left;
		width:50%;
		height: auto;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.quotes-author-block{
		padding: 50px 0 0 20px;
		max-width:270px;
	}
	.quotes-author-status{
		display: inline-block;
	}
}
@media (max-width:480px){
	.quotes-author-block{
		padding: 50px 0 5px 15px;
	}     
}
@media (min-width:768px){
	.slick-dots{
		display: none!important;
	}
}
/*
to avoid slide crossing with arrows 
put the pseudoelements with white bg        
*/
@media (min-width: 767px){
	.quotes-slider:before, 
	.quotes-slider:after{
		content: '';
		position: absolute;
		display: block;
		width: 8%;
		height: 100%;
		background: #fff;
		top: 0;
		z-index: 2;
	} 
	.quotes-slider:before{
		left:0; 
	} 
	.quotes-slider:after{
		right:0; 
	}
}


/* Gallery Module Style */
.gallery-item-content{
	position:relative;
	padding:1px;
}
.gallery-item-content img{
	width:100%;
	height: auto;
}
.gallery-item-magnifier{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	padding:0;
}
.gallery-item-magnifier:hover,
.gallery-item-magnifier:active,
.gallery-item-magnifier:focus{
	background-color: rgba(0, 94, 69, 0.8);
}
.gallery-image-title{
	color: #fff;
	display: block;
	line-height: 1.3em;
	opacity: 0;
	padding: 0 20px;
	position: absolute;
	top: 0;
	width: 100%;
}
.gallery-image-more{
	position: absolute;
	display:block;
	opacity:0;
	width: 100%;
	bottom: 0;
	font-size: 12px;
	color: #fff;  
	padding:0 25px;
}
.gallery-image-view{
	position: absolute;
	display:block;
	width: 40px;
	height: 40px;
	opacity: 0;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -20px;
	bottom: 0;
	font-size: 20px;
	color: #005e45; 
	background: #fff;
	text-align: center;
	line-height: 40px;
	border:1px solid #005e45;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-o-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
}
.gallery-image-view i{
	color:#005e45;
}
.gallery-item-magnifier a:hover,
.gallery-item-magnifier a:active,
.gallery-item-magnifier a:focus
{
	color:#fff;
	text-decoration: none;
}
.gallery-image-more:after{
	content:'>';
	margin-left:3px;
}
.gallery-item-magnifier, .gallery-image-title, .gallery-image-more, .gallery-image-view{
	-webkit-transition:all .3s ease-in-out 0s;
	-moz-transition: all .3s ease-in-out 0s;
	-o-transition: all .3s ease-in-out 0s;
	-ms-transition: all .3s ease-in-out 0s;
	transition:all .3s ease-in-out 0s;
}

.gallery-item-magnifier:hover .gallery-image-title,
.gallery-item-magnifier:active .gallery-image-title,
.gallery-item-magnifier:focus .gallery-image-title{
	opacity: 1;
	top: 25px;
}
.gallery-item-magnifier:hover .gallery-image-more,
.gallery-item-magnifier:active .gallery-image-more,
.gallery-item-magnifier:focus .gallery-image-more{
	opacity: 1;
	bottom: 25px;
}
.gallery-item-magnifier:hover .gallery-image-view,
.gallery-item-magnifier:active .gallery-image-view,
.gallery-item-magnifier:focus .gallery-image-view{
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);

}
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: top, left, opacity;
  transition-property: transform, opacity;
}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
/* Footer */
section.modules + footer{
	margin-top:60px;
}

.footer-nav{
	padding: 30px 0;
}
.footer-nav ul{
	list-style-type: none;
	font-size: 0;
	padding: 0;
	margin: 0 -15px;
	display:inline-block;
	vertical-align: middle;
}
.footer-nav li{
	display:inline-block;
	margin:7px 15px;
}
.footer-nav a, .footer-nav span{
	color: #fff;
	font:14px/1.4em Arial, sans-serif;
	vertical-align: middle;
}
.footer-nav-menu a:after{
	content:':';
	font-weight:700;
}
.footer-nav-soc-title{
	margin-right:30px;
}
.footer-nav-soc i{
	font-size: 24px;
	vertical-align: middle;
	display:inline-block;
	margin-right:10px
}
.footer-copyright{
	padding:35px 0;
	font:400 12px/2em Arial, sans-serif;
}

/* Elements */

/*- slider buttons -*/
.slick-arrow{
	position: absolute;
	display: block;
	width: 40px;
	height: 40px;
	background-color: #005e45;
	color: #fff;
	line-height: 40px;
	top: 50%;
	margin-top: -20px;
	border: 0 none;
	outline: none;
	padding: 0;
	cursor: pointer;
	font-size: 0;
	z-index: 3;
}
.slick-prev{
	left: 0;
}
.slick-next{
	right: 0;
}
.slick-prev:after{
	font-family: 'Flaticon';
	content: "\e000";
	font-size: 16px;
	line-height: 40px;
}
.slick-next:after{
	font-family: 'Flaticon';
	content: "\e004";
	font-size: 16px;
	line-height: 40px;
}
.frontpage-slider .slick-arrow{
	width:60px;
	height:60px;
	margin-top:-30px;
	line-height: 60px;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
.frontpage-slider .slick-arrow:hover{
	opacity: 0.8;	
}
.frontpage-slider .slick-prev:after{
	font-family: 'Flaticon';
	content: "\e000";
	font-size: 28px;
	line-height: 60px;
}
.frontpage-slider .slick-next:after{
	font-family: 'Flaticon';
	content: "\e004";
	font-size: 28px;
	line-height: 60px;
}
@media (max-width:767px){
	.frontpage-slider .slick-arrow{
		display:none!important;
	}
}

/*- block-special -*/
.block-special{
	margin:40px 0;
	border:none;
	position:relative;
	padding:25px 0 25px 80px;
	font: 400 28px/1.3em Georgia, Times, 'Times New Roman', serif;
}
.block-special:before{
	background-color: #005e45;
	color: #fff;
	display: block;
	height: 40px;
	left: 0;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	width: 40px;
}
.block-special:after{
	content:'';
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:100px;
	height:100%;
	border-top: 1px solid #005e45;
	border-bottom: 1px solid #005e45;
}
.block-simple-special {
	padding: 25px 0;
}
.block-special p {
	margin-bottom: 0;
}
.block-quote:before{
	content: "“";
	font: 700 40px/1.4em Georgia, Times, 'Times New Roman', serif;
}
.block-quote .quote-text:before{
	content: "\201E";
}
.block-quote .quote-text:after{
	content: "\201C";
}
.block-data:before{
	content: "\f08d";
	font: 400 20px/40px 'FontAwesome';
}


/*- image figcaption -*/
p + figure{
	margin-top:0;
}
figure{
	margin:1.5em 0;
}
figcaption{
	padding:15px 0 10px 0;
	font-size: 12px;
	line-height:1.3em;
	color:#545454;
}

/*- Article -*/
.article-text:before,
.article-text:after{
	content: '';
	display: table;
	clear: both;
	float: none;
}

/*- ToTop -*/
.totop{
	background: #f00;
	bottom: -100px;
	cursor: pointer;
	position: fixed;
	right: 0;
	-webkit-transition: all .7s ease-in-out 0s;
	-moz-transition: all .7s ease-in-out 0s;
	-ms-transition: all .7s ease-in-out 0s;
	-o-transition: all .7s ease-in-out 0s;
	transition: all .7s ease-in-out 0s;
	z-index: 100;
	color: #fff;
	font-size:14px;
	padding:5px 10px; 
}
.totop > *{
	vertical-align: middle;
}
.totop span{
	display:none;
	margin-right: 10px;
	-webkit-transition: all .7s ease-in-out 0s;
	-moz-transition: all .7s ease-in-out 0s;
	-ms-transition: all .7s ease-in-out 0s;
	-o-transition: all .7s ease-in-out 0s;
	transition: all .7s ease-in-out 0s;
}
.totop:hover span{
	display:inline;
	-webkit-transition: all .7s ease-in-out 0s;
	-moz-transition: all .7s ease-in-out 0s;
	-ms-transition: all .7s ease-in-out 0s;
	-o-transition: all .7s ease-in-out 0s;
	transition: all .7s ease-in-out 0s;
}
.totop i{
	font-weight: 900; 
	font-size: 20px;
}

/*- Contact button -*/
.contact-btn{
	display:inline-block;
	position: absolute;
	background-color: #005e45;
	top: 0px;
	right:40px;
	min-width: 140px;
	height: 40px;
	z-index: 100;
	-webkit-transform-origin: 100% 0%;
	-moz-transform-origin: 100% 0%;
	-o-transform-origin: 100% 0%;
	-ms-transform-origin: 100% 0%;
	transform-origin: 100% 0%;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg) ;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.contact-btn i{
	margin-right:10px;  
}

/*- Page Navigation -*/
.page-navigation-block{
	border-top: 1px solid #cfdbd8;
	border-bottom: 1px solid #cfdbd8;
	padding:20px 0;
	margin: 20px 0;
}
.page-navigation-list{
	padding: 0 60px;
	margin: 0;
	list-style: none;
	font-size: 0;
	text-align:center;
	position: relative;
}
.page-navigation-item{
	display: inline-block;
	margin:0 3px;
}
.page-navigation-item a,
.page-navigation-item span{
	display:inline-block;
	width:40px;
	height:40px;
	line-height: 40px;
	text-decoration: none;
	font-size: 19px;
	vertical-align: middle;
	text-align: center;
}

.page-navigation-item a:hover,
.page-navigation-item a:focus,
.page-navigation-item a:active,
.page-navigation-item span.active{
	background-color: #005e45;
	color: #fff;
	text-decoration: none;
}
.page-navigation-item.navs{
	position: absolute;
}
.page-navigation-item.navs a,
.page-navigation-item.navs span{
	width: auto;
	font-size:  12px;
	line-heigt: 1.3em;
}
.page-navigation-item.navs span{
	color: #777;
}
.page-navigation-item.navs a:hover,
.page-navigation-item.navs a:active,
.page-navigation-item.navs a:focus{
	color: #005e45;
	background: none;
	text-decoration: underline;
}
.page-navigation-item.prev{
	left: 0;    
}
.page-navigation-item.prev a:before,
.page-navigation-item.prev span:before{
	content: "< ";    
}
.page-navigation-item.next{
	right: 0;    
}
.page-navigation-item.next a:after,
.page-navigation-item.next span:after{
	content: " >";    
}

@media (max-width: 767px){
	.page-navigation-block .col-xs-12.padding-0{
		padding-right: 15px;
		padding-left: 15px;
	}
	.page-navigation-block .page-navigation-item.prev{
		left: 15px;
	}
	.page-navigation-block .page-navigation-item.next{
		right: 15px;
	}
}
@media (max-width: 480px){
	.page-navigation-list{
		padding-right:0;
		padding-left:0; 
	}
	.page-navigation-list:before,
	.page-navigation-list:after{
		content: '';
		clear: both;
		float: none;
		display: table;
	}
	.page-navigation-block .page-navigation-item{
		display: none;
	}
	.page-navigation-block .page-navigation-item.navs{
		display: inline-block;
		position: static;
	}
	.page-navigation-block .page-navigation-item.prev{
		float:left;
	}
	.page-navigation-block .page-navigation-item.next{
		float:right;
	}
}

/*/////////////////////*/
/*///// Page News /////*/
/*/////////////////////*/
.featured-news{
	padding-bottom:50px;
	border-bottom: 1px solid #cfdbd8;
	margin-bottom: 45px;
}
.news-image-intro{
	margin-top:0;
}
.featured-news-title:after{
	content: '';
}
.featured-news-title a{
	font: 400 28px/1.2em Arial, sans-serif;
	display: block;
}
.news-list{
	margin:45px 0;
    position:relative;
}
.news-block .flex-block > div{
	margin-top:50px;
	position:relative;
	padding-bottom:28px;
}
.news-block .flex-block{
	-webkit-align-items: stretch;
	-moz-align-items: stretch;
	-ms-align-items: stretch;
	align-items: stretch;
}
.news-block .flex-block .article-readmore{
	position:absolute;
	bottom:0;
	width:100%;
}
.news-filter-buttons {
    margin-left: -8px;
    margin-right: -8px;
}
.news-filter-buttons .btn-filter {
    font: 400 16px/24px Arial,sans-serif;
    margin: 5px;
    min-width: auto;
    padding-left: 8px;
    padding-right: 8px;
}

/* add new style for red separator */
.news-filter-buttons .btn-filter .red{
	color: red;
	font-weight: 700;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}

.news-filter-buttons .btn-filter:hover .red,
.news-filter-buttons .btn-filter:active .red,
.news-filter-buttons .btn-filter:focus .red{
	color: #fff;	
}


/*//////////////////////*/
/*/// Page News Item ///*/
/*//////////////////////*/
.article-footer-part{
	margin-right: -15px;
	margin-left: -15px;
}
.article-footer-part .article-next,
.article-footer-part .article-social-block{
	padding-right: 15px;
	padding-left: 15px;
	margin: 10px 0;
}

.article-social-block .social-item,
.article-social-block .social-item > *{
	display:inline-block;
	vertical-align: middle;
	line-height: 0;
}
.article-social-block .social-item:not(:last-child){
	margin-right:15px;
}

/*//////////////////////*/
/*//// Page Gallery ////*/
/*//////////////////////*/
.gallery-list{
	margin-left:-5px;
	margin-right:-5px;
}
.gallery-album{
	width:33%;
	padding:5px;
	margin-bottom: 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
@media (max-width:991px){
	.gallery-album{
		width:50%;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}
}
@media (max-width:480px){
	.gallery-album{
		width:100%;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}
}
.gallery-album img{
	display: block;
	max-width: 100%;
	width:100%;
	height: auto;
}
.album-item-title:after {
	background-color: #005e45;
	color: #fff;
	content: "\e002";
	display: block;
	height: 40px;
	width: 40px;
	position:absolute;
	font-family: "Flaticon";
	font-size: 20px;
	font-weight: 100;
	line-height: 40px;
	text-align: center;
	left: 0;
	top: 0;

}
.album-item-title {
	padding: 20px 5px 5px 60px;
	position: relative;
}

/*/////////////////////////*/
/*// Page Gallery Inside //*/
/*/////////////////////////*/
.album-slider img{
	width: 100%;
	height: auto;
}
.album-thumbs{
	margin:15px 0;
	padding:0 80px;
	min-height: 60px;
}
.album-thumbs .slick-slide {
	position: relative;
	margin:0 8px;
}
.album-thumbs .slick-current:before,
.album-thumbs .slick-slide:hover:before{
	content:'';
	position:absolute;
	display: block;
	width:100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0, 94, 69, 0.8);
}
.album-thumbs .slick-arrow{
	width:60px;
	height:60px;
	margin-top:-30px;
	line-height: 60px;
}
.album-thumbs .slick-prev:after{
	font-family: 'Flaticon';
	content: "\e000";
	font-size: 28px;
	line-height: 60px;
}
.album-thumbs .slick-next:after{
	font-family: 'Flaticon';
	content: "\e004";
	font-size: 28px;
	line-height: 60px;
}
.other-albums{
	margin-bottom:0;
	padding:40px 0 30px;
}
.other-albums h2{
	margin:20px 0 40px;
}
.album-social-quote{
	position:relative;
	padding:30px 0;
	margin: 40px 0;
}
.album-social-quote:before, .album-social-quote:after {
	content: '';
	position: absolute;
	width: 100px;
	height: 1px;
	left: 0;
	background-color: #005e45;
}
.album-social-quote:before{
	top:0;
}
.album-social-quote:after{
	bottom:0;
}
/*- Form -*/
label{
	font:400 12px/2em Arial, sans-serif;
}
.form-group{
	margin-bottom: 30px;
}
.form-control{
	border-top: none;
	border-left: none;
	border-right: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
	padding-left:0;
	background: #fff;
	font: 400 19px/24px Arial, sans-serif;
}
.form-control:focus,
.form-control:active{
	box-shadow: none;
	border-top: none;
	border-left: none;
	border-bottom: 1px solid #000;
	border-right: none;
	background: #fff;
}
.asterisk{
	color:#ff0a14;
	font-size: 16px;
}
div.mce_inline_error{
	font:400 12px/24px Arial, sans-serif;
	color:#ff0a14;
}
.response{
	margin-bottom: 30px;
}
.mce-success-response{
	color: #005e45
}
.mce-error-response{
	color:#ff0a14;	
}

/*//////////////////////////////*/
/*// Page Hospitationsschulen //*/
/*//////////////////////////////*/
.filter-block,
.school-items-container{
	margin: 40px 0;
}
label.label-lg{
	font-size:19px;
}
.school-item {
	border-bottom: 1px solid #005e45;
	border-top: 1px solid #005e45;
	font-size: 16px;
	padding: 15px 0;
}
.school-item + .school-item{
	border-bottom: 1px solid #005e45;
	border-top: none;
}
.item-profile > *+*{
	margin-top:15px;
}
.related-links i {
	color: #005e45;
	display: inline-block;
	font-size: 18px;
	margin-right: 5px;
}
.container_overlay {
	background: #fff url(../images/loader.gif) no-repeat center center;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9998;
	opacity: 0.8;
}
@media (max-width:767px){
	.related-links{
		margin:15px 0 0;
	}
}


.media:before, .media:after{
	content:'';
	display:table;
	clear:both;
	float:none;
}
/*
.media figure{
	max-width:200px;
}
*/
.media figure.float-left{
	margin:0 1.5em 1.5em 0;
}
.media figure.float-right{
	margin:0 0 1.5em 1.5em;
}

@media (max-width: 500px){
	.media figure{
		max-width: 100%;
		float: none;
		margin-left: 0!important;
		margin-right: 0!important;
	} 
}

/* Search pagination */
ul.browsebox{
	list-style: none;
	padding:20px 60px;
	margin: 20px 0;
	border-top: 1px solid #cfdbd8;
	border-bottom: 1px solid #cfdbd8;
	font-size: 0;
	position: relative;
	text-align: center;
}

ul.browsebox li{
	display: inline-block;
	margin:0 3px;
}

ul.browsebox li a,
ul.browsebox li span{
	display:inline-block;
	width:40px;
	height:40px;
	line-height: 40px;
	text-decoration: none;
	font-size: 19px;
	vertical-align: middle;
	text-align: center;
}
ul.browsebox li a:hover,
ul.browsebox li a:focus,
ul.browsebox li a:active,
ul.browsebox li.tx-indexedsearch-browselist-currentPage a{
	background-color: #005e45;
	color: #fff;
	text-decoration: none;
}
/* absolute element */
ul.browsebox li:last-child{
	position: absolute;
	right: 0;
}
ul.browsebox li:last-child a{
	font-size: 12px;
	width: auto;
}
ul.browsebox li:last-child a:hover, 
ul.browsebox li:last-child a:active, 
ul.browsebox li:last-child a:focus{
	background: none;
	color: #005e45;
	text-decoration: underline;
}
/* related element */
.tx-indexedsearch-browselist-currentPage:last-child{
	position:static!important;
}
/* related element */
.tx-indexedsearch-browselist-currentPage:last-child a{
	font-size: 19px!important;
	width: 40px!important;
}

/* absolute element */
ul.browsebox li:first-child{
	position: absolute;
	left: 0;	
}
ul.browsebox li:first-child a{
	font-size: 12px;
	width: auto;	
}
ul.browsebox li:first-child a:hover, 
ul.browsebox li:first-child a:active, 
ul.browsebox li:first-child a:focus{
	background: none;
	color: #005e45;
	text-decoration: underline;
}
/* related element */
.tx-indexedsearch-browselist-currentPage:first-child{
	position:static!important;
}
.tx-indexedsearch-browselist-currentPage:first-child a{
	font-size: 19px!important;
	width: 40px!important;	
}

/* Search results */
.tx-indexedsearch-form{
	margin-left:0!important;
	margin-right:0!important;
}
.tx-indexedsearch-form h1{
	margin-top:0;
	margin-bottom: 60px;
}
.container-none .tx-indexedsearch-res{
	padding-left:15px;	
}
.tx-indexedsearch-res > div.container-none{
	padding:20px 0;
}
.tx-indexedsearch-res > div.container-none + div.container-none{
	border-top: 1px solid #ded6d9;
	padding:20px 0;
}
.tx-indexedsearch-title.title{
	font-size: 20px;
}
.tx-indexedsearch-icon:before{
	content:'\f016';
	font:normal 14px/1 'FontAwesome';
	color:#005e44;
	margin-left:-30px;
}
.tx-indexedsearch-redMarkup{
	color:#ee2b33;
}
.tx-indexedsearch-whatis{
	font-size: 28px;
	margin:35px 0;
}
.tx-indexedsearch-sw{
	color: #e42322;
}
.tx-indexedsearch-title{
	font-family: Georgia, 'Times New Roman', Times, serif;	
}
/*/////////////////////////*/
/*///// Page Flashmob /////*/
/*/////////////////////////*/
.flashmob-map{
	width:100%;
	height:750px;
}
.list-block{
	padding-left:0;
	margin:0;
}
.list-block li{
	list-style: none;
	display: block;
}
.gm-style img {
	max-width: none!important;
}
.gm-style p{
	margin: 0;
	line-height: 1.3em;
}
.gm-style .list-block{
	margin-top:5px;
}
.gm-style .list-block li{
	line-height:1.7em;
}
.gm-style .list-block li i{
	font-size:14px;
}

.bg-green  *:after {
 color: #fff;
}
.content-block a {
 text-decoration: underline;
}

/*//////////////////////////////*/
/*/////// Page Contact /////////*/
/*//////////////////////////////*/
.block-subheader{
	padding:0;
}
.block-subheader:after{
		content:'';
		border-top:none;
		border-bottom:none;
}
.contact-container{
		font-size: 14px;
		text-align: center;
}
.absolute-container{
		position:relative;
}
.contact-container .absolute{
		width:100%;
		padding:15px 0;
}	
@media (min-width: 768px){
	.absolute{
		position:absolute;
	}	
}	
@media (max-width: 767px){
		.contact-container{
				padding-left:0;
				padding-right:0;
		}
		.contact-container .absolute{
				width:100%;
				padding:15px;
		}	
}
.contact-block{
		padding-top:20px;
		padding-bottom:50px;
}
.contact-block-text-icon{
		font-size: 0;
		padding-bottom:30px;
		white-space: nowrap;
		display: table-cell;
		vertical-align: middle;
		height: 56px;
		
}
.contact-icon-block{
		display: inline-block;
		background: #005e45;
		color:#fff;
		width:40px;
		height:40px;
		text-align: center;
		vertical-align: middle;
		margin-right:20px;
}
.contact-icon-block i{
		line-height: 38px;
		font-size:28px;
}
.contact-text-block{
		display: inline-block;
		vertical-align: middle;
		font-size:19px;
		white-space: normal;
}
.contact-address-text{
		font-size: 0;
}
.contact-address-dots{
		padding-left:25px;
		padding-right:25px;
		position:relative;
		font-size: 14px;
}
.contact-address-dots+.contact-address-dots:before{
		content: ':';
		display:inline-block;
		position:absolute;
		left:0;
}
@media (max-width:991px){
		.contact-address-dots{
				padding-left:15px;
				padding-right:15px;
		}
}
@media (min-width:480px){
		.contact-address-dots{
				white-space: nowrap;
		}
} 
@media (max-width:479px){
		.contact-address-dots{
				dislay:block;
		}
		.contact-address-dots:before{
				content:'';
		}
}


/*//////////////////////////////*/
/*////// Cookie-Hinweis ////////*/
/*//////////////////////////////*/

.t3-cookie-notice {
    padding: 10px 15px;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    line-height: 1.3em;
}


/*//////////////////////////////*/
/*// Header Laptop Adaptation //*/
/*//////////////////////////////*/
.top-block-item{
	transition: margin 0.25s ease-in-out;
	-webkit-transition: margin 0.25s ease-in-out;
	-ms-transition: margin 0.25s ease-in-out;
	-moz-transition: margin 0.25s ease-in-out;
}
.top-block-item.scrolled{
	margin: 10px 0;
}
.top-block-item.scrolled .top-block-logo img{
	max-width: 130px;
}
.top-block-item .top-block-logo img{
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;	
}
.mainmenu.scrolled .navbar-nav>li>a{
	padding:10px 20px;
}

.mainmenu .navbar-nav>li>a{
	transition: padding 0.25s ease-in-out;
	-webkit-transition: padding 0.25s ease-in-out;
	-ms-transition: padding 0.25s ease-in-out;
	-moz-transition: padding 0.25s ease-in-out;	
}

section.content.scrolled{
	margin-top:-120px;
}
section.content{
	transition: margin 0.35s ease-in-out;
	-webkit-transition: margin 0.35s ease-in-out;
	-ms-transition: margin 0.35s ease-in-out;
	-moz-transition: margin 0.35s ease-in-out;	
}


.top-sticker + section.content {
    margin-top: 0 !important;
}

.mediaelement-video iframe {
	width: 100% !important;
}

@media (min-width:768px) {
	.news-block .news-item .mediaelement-video iframe {
		max-height: 300px !important;
	}
    .news-block .mediaelement-video {
        max-height: 300px !important;
    }
}

@media (min-width:991px) {
	.news-block .news-item .mediaelement-video iframe {
		max-height: 250px !important;
	}
    .news-block .mediaelement-video {
        max-height: 250px !important;
    }
}



/*//////////////////////////////*/
/*////// Interective map //////*/
/*//////////////////////////////*/
#map_canvas {
    margin: 0;
    padding: 0;
}

.padding-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.map-interective-module {
    margin-bottom: -60px;
}

@media (min-width: 768px) {
    .map-module-filter {
        background-clip: content-box;
    }
}

@media (min-width: 992px) {
    .map-filter-pos {
        position: absolute;
        width: 100%;
    }
}

/*- Pretty Checkbox -*/
.map-module-filter .col-md-3{
    display: inline-block;
}
.map-module-filter [type="checkbox"]:not(:checked),
.map-module-filter [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

.map-module-filter [type="checkbox"]:not(:checked) + label,
.map-module-filter [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 35px;
    font-size: 14px;
    line-height: 15px;
    height: 28px;
    cursor: pointer;
    outline: none !important;
    margin-bottom: 8px;
    margin-top: 8px;
}
label .label-text{
    display: table-cell;
    vertical-align: middle;
    height: 26px;
}
/* checkbox aspect */
.map-module-filter [type="checkbox"]:not(:checked) + label:before,
.map-module-filter [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 24px;
    height: 24px;
    border-width: 3px;
    border-style: solid;
    background: #fff;
    outline: 1px solid #80afa2 !important;
}

.map-module-filter .dark-green[type="checkbox"] + label:before {
    border-color: #005e45;
}

.map-module-filter .light-green[type="checkbox"] + label:before {
    border-color: #40a313;
}

.map-module-filter .dark-blue[type="checkbox"] + label:before {
    border-color: #00457f;
}

.map-module-filter .light-blue[type="checkbox"] + label:before {
    border-color: #0099cc;
}

.map-module-filter .violet[type="checkbox"] + label:before {
    border-color: #690027;
}

.map-module-filter .yellow[type="checkbox"] + label:before {
    border-color: #d48900;
}

.map-module-filter .pure-red[type="checkbox"] + label:before {
    border-color: #ff0a14;
}

.map-module-filter .cyan[type="checkbox"] + label:before {
    border-color: #5ba3a6;
}

.map-module-filter .purple[type="checkbox"] + label:before {
    border-color: #8b559f;
}

.map-module-filter .light-yellow[type="checkbox"] + label:before {
    border-color: #e1c400;
}

.map-module-filter .grey[type="checkbox"] + label:before {
    border-color: #9095aa;
}

/* checked mark aspect */
.map-module-filter [type="checkbox"]:not(:checked) + label:after,
.map-module-filter [type="checkbox"]:checked + label:after {
    content: '\f00c';
    font-family: 'FontAwesome';
    position: absolute;
    top: 3px;
    left: 5px;
    font-size: 14px;
    line-height: 1.5em;
    color: #333;
    transition: all .1s;
    outline: none !important;
}

/* checked mark aspect changes */
.map-module-filter [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}

.map-module-filter [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

.infoWin-title {
    font-size: 1.4em;
    padding-bottom: 15px;
    position: relative;
}

.infoWin-title:after {
    content: '';
    position: absolute;
    display: block;
    width: 100px;
    height: 0;
    border-bottom: 1px solid #005e45;
    bottom: 0%;
}

.infoWin-title a {
    text-decoration: underline;
}

.infoWin-city {
    font-size: 14px;
    font-weight: 400;
}

.infoWin-marker {
    margin: 5px 10px 5px 5px;
}

.infoWin-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.infoWin-content .text {
    font-size: 14px;
    line-height: 1.4em;
    font-weight: 400;
}

/* Filter user-friendly adaptation */
.map-filter-switcher{
		display:none;
    position: absolute;
    background: #005e45;
    padding: 3px 10px;
    z-index: 10;
    color:#fff;
    font-size:14px;
    cursor:pointer;
    border:none;
    left:50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.map-module-filter .filter-close{
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 32px;
    cursor: pointer;
    z-index: 10;
}

#map_canvas .cluster > div{
    background: #00805e;
    border-radius: 15px;
    height: 22px!important;
    width: 22px!important;
    line-height: 20px!important;
    border: 1px solid #fff;
    font-weight: 300!important;
    text-align: center!important;
}
@media (max-width: 767px){
	.infoWin-img {
		display: none;
	}
}


/*- Termine Module -*/
.termine-call{
    width:80px;
    height:80px;
    display:block;
    background: #ff0a14;
    color:#fff;
    position: fixed;
    top:35%;
    right:0;
    z-index: 10000;
    border: none;
    font-size: 14px;
    font-weight: 500;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.termine-call i{
    font-size: 32px;
    display: block;
    padding-top:10px;
}

.termine-call:hover{
   opacity: 0.8;
}

.termine{
    position:fixed;
    height:100%;
    width:0;
    background:#ecf5f4;
    right:0;
    top:0;
    z-index: 10000;
    height:100%;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    -ms-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}
.termine.active{
    width:350px;
}
.termine-container{
    width:350px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    position:relative;
}
.termin-item{
    padding:40px 35px;
    border-bottom:1px solid #cfdbd8;
}
.termin-item:hover{
    background: #005e45;
}
.termin-item-date{
    font-size:16px;
    color:#1a171b;
}
.termin-item-link{
    margin:15px 0;
    color: #005e44;
}

.termin-item-link a{
    text-decoration: underline;
}
.termine-close{
    position:absolute;
    top:0;
    right:0;
    background: #005e45;
    width:40px;
    height:40px;
    border:none;
    color:#fff;
    padding:0;
    -webkit-transition: all .2s ease-in-out 0s;
    -moz-transition: all .2s ease-in-out 0s;
    -o-transition: all .2s ease-in-out 0s;
    -ms-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s;
}
.termine-close:hover{
    opacity: 0.8;
}
.termine.active .termine-close{
    position:fixed;
}
.termine-item-infostyle{
    color: #545454;
    font-size:12px;
    line-height:2em;
}
.termine-item-infostyle i[class^="icon-"]{
    color: #005e45;
    font-size:14px;
    padding-right:8px;
}
.termine-item-infostyle > *{
    vertical-align: middle;
}
.termin-item:hover  *,
.termin-item:hover .termine-item-infostyle i[class^="icon-"]{
    color:#fff;
}
.termine-contact{
    color: #fff;
    background: #005e45;
}
.termine-contact a,
.termine-contact a:hover{
    color:#fff;
    text-decoration: none;
}
.termine-contact small{
    font-size: 14px;
}
.termine-contact-header{
    font: 28px/1.3em Georgia, serif;
    margin-bottom:15px;
}
.termine-contact-item .square-block{
    width:40px;
    height:40px;
    display: inline-block;
    margin-right:20px;
    background:#fff;
    text-align: center;
}
.termine-contact-item{
    white-space: nowrap;
    margin-bottom:20px;
}
.termine-contact-item:last-child{
    margin-bottom: 0;
}
.termine-contact-item .square-block i{
    color: #005e45;
    line-height: 40px;
}
.termine-contact-item span{
    display:inline-block;
    vertical-align: middle;
}
.termine-contact-item .termine-block-info{
    line-height:1.1em;
}
@media (max-width:767px){
    .termine-call{
        position: absolute;
        right: 60px;
        top: auto;
        background: transparent;
        display: inline-block;
        width: 36px;
        height: 36px;
        margin-top: 3px;
    }
    .termine-call span{
        display: none;
    }
    .termine-call i{
        font-size:26px;
        color: #ff0a14;
    }

    .termine{
        max-width: 350px;
    }
    .termine-container{
        max-width: 350px;
        width: 100%;
    }

    .navbar-toggle{
        padding-right: 0;
    }
}

.note h1:after {
    display:none;
}








/*- Teams Map -*/

#teams-map {
  height: 450px;
}

.jvectormap-zoomin, .jvectormap-zoomout {
    font-size:14px;
}

.pin-icon {
  color: #fff;
  font-weight: bold;
}

.nav-section {
  color: #005e45;
  font-size:0.8em;
}

.nav-section h4 {
  font-size: 18px;
  line-height: 1.45em;
  margin: 0 0 0.5em;
}

.nav-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-section ul li {
  padding: 5px 0 0px 1em;
}

.nav-section ul li:before {
  content: ":";
  position: relative;
  left: -0.5em;
  color: #e63e3d;
  font-weight: bold;
}

.nav-separator {
  padding: 0;
  height: 0;
  max-width: 100px;
  border-bottom: 1px solid #005e45;
  margin: 60px auto 60px 0;
}

.map-nav-item {
  text-decoration: underline;
  color: #005e45;
}

.map-nav-item:visited, .map-nav-item:active {
  color: #005e45;
}
.map-nav-item.active{
  color: #e63e3d;
}

.map-nav-item.hover, .map-nav-item:hover, .map-nav-item:focus {
  color: #e63e3d;
}
a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

.dots:after {
	content: ":";
	position: relative;	
	color: #e63e3d;
	font-weight: bold;
	padding: 0 3px;
}

/*- Events -*/
.events {
  position: fixed;
  top: 0.5em;
  right: 0;
  z-index: 1100;
}
@media (max-width: 767px) {
  .events {
    top: 140px;
    z-index: 101;
    display:none;
  }
}
.events .event-container {
  right: -350px;
  position: relative;
  overflow: hidden;
  height: auto;
  -webkit-transition: right 0.5s ease-in-out;
  -moz-transition: right 0.5s ease-in-out;
  -ms-transition: right 0.5s ease-in-out;
  transition: right 0.5s ease-in-out;
}
@media (max-width: 991px) {
  .events .event-container {
    right: -305px;
  }
}
.events .event-container.active {
  right: 0;
}
@media (max-width: 991px) {
  .events .event-container.active {
    width: 305px;
  }
}
.events .event-container + .event-container {
  margin-top: 0.5em;
}
.events .event-container.remove {
  height: 0px;
  margin-top: 0px;
}
.event-item {
  font-size: 16px;
  width: 350px;
  display: table;
  background: rgba(236, 245, 244, 0.9);
}
@media (max-width: 991px) {
  .event-item {
    width: 305px;
    font-size: 13px;
  }
}
.event-item > * {
  display: table-cell;
  vertical-align: middle;
}
.event-item .event-item-alert {
  background: #005e45;
  color: #fff;
  width: 40px;
  text-align: center;
  font-size: 1.5em;
  font-family: Georgia, serif;
}
.event-item .event-item-content {
  line-height: 1.25em;
  padding: 1.2em;
}
.event-item .event-item-content p {
  margin-bottom: 0.8em;
}
.event-item .event-item-content a {
  text-decoration: underline;
}
.event-item .event-item-content a:hover,
.event-item .event-item-content a:active,
.event-item .event-item-content a:before {
  text-decoration: none;
}
.event-item .event-item-close {
  width: 30px;
  vertical-align: top;
  text-align: center;
  font-size: 12px;
  line-height: 1em;
  padding-top: 10px;
  color: #005e45;
}
.event-item .event-item-close:hover,
.event-item .event-item-close:active,
.event-item .event-item-close:focus {
  color: #002b20;
}
.event-item .event-item-close i {
  cursor: pointer;
  -webkit-transition: color, 0.25s ease-in-out;
  -moz-transition: color, 0.25s ease-in-out;
  -ms-transition: color, 0.25s ease-in-out;
  transition: color, 0.25s ease-in-out;
}
.event-item .event-item-close i:hover,
.event-item .event-item-close i:active,
.event-item .event-item-close i:focus {
  color: #000;
}
/* termine integration */
@media (max-width: 349px) {
  .termine.active,
  .termine-container {
    width: 320px;
  }
}
.termine.active .termin-item,
.termine-container .termin-item,
.termine.active .event-item,
.termine-container .event-item {
  font-size: 16px;
  width: 350px;
}
@media (max-width: 991px) {
  .termine.active .termin-item,
  .termine-container .termin-item,
  .termine.active .event-item,
  .termine-container .event-item {
    font-size: 13px;
  }
}
@media (max-width: 349px) {
  .termine.active .termin-item,
  .termine-container .termin-item,
  .termine.active .event-item,
  .termine-container .event-item {
    width: 320px;
  }
}
.termine.active .termin-item,
.termine-container .termin-item {
  padding: 2.2em 2em;
}
.termine.active .termin-item-link,
.termine-container .termin-item-link {
  font-size: 1.2em;
}
.termine.active .event-item:first-child,
.termine-container .event-item:first-child {
  margin-top: 40px;
}
.termine.active .event-item,
.termine-container .event-item {
  background: rgba(208, 230, 225, 0.95);
}

.highlight {
    color: #005e45;
}




/*
* Chrome 24+
* Firefox 18+
* IE 11
* Opera 15
* Safari 7
*/
/* flex block based layout*/
.termine-call {
  z-index: 101;
}
/*/////////////////////////////*/
/*////// Interective map //////*/
/*/////////////////////////////*/
.overflow-hidden {
  overflow: hidden;
}
#map_canvas {
  margin: 0;
  padding: 0;
  min-height: 480px;
}
.map-interective-module {
  position: relative;
  z-index: 102;
  margin-bottom: -60px;
}
@media (max-width: 767px) {
  .map-interective-module {
    padding-top: 46px ;
    box-sizing: border-box;
  }
}
.map-interective-module .full-screen-header {
  display: none;
}
.map-interective-module .map-zoom-btn,
.map-interective-module .map-minimize-btn,
.map-interective-module .map-show-filter-btn {
  -webkit-appearance: button;
  -moz-appearance: button;
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  padding: 0!important;
  right: 10px;
  top: 8px;
  border: none;
  font-size: 18px;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  background: #005e45;
  color: #fff;
  cursor: pointer;
  z-index: 10;
  tab-index: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.map-interective-module .map-zoom-btn:hover,
.map-interective-module .map-minimize-btn:hover,
.map-interective-module .map-show-filter-btn:hover,
.map-interective-module .map-zoom-btn:focus,
.map-interective-module .map-minimize-btn:focus,
.map-interective-module .map-show-filter-btn:focus,
.map-interective-module .map-zoom-btn:active,
.map-interective-module .map-minimize-btn:active,
.map-interective-module .map-show-filter-btn:active {
  background: #004532;
}
.map-interective-module .map-zoom-btn i,
.map-interective-module .map-minimize-btn i,
.map-interective-module .map-show-filter-btn i {
  line-height: 32px;
}
@media (min-width: 1200px) {
  .map-interective-module .map-zoom-btn,
  .map-interective-module .map-minimize-btn,
  .map-interective-module .map-show-filter-btn {
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .map-interective-module .map-zoom-btn i,
  .map-interective-module .map-minimize-btn i,
  .map-interective-module .map-show-filter-btn i {
    line-height: 40px;
  }
}
.map-interective-module .map-show-filter-btn:hover,
.map-interective-module .map-show-filter-btn:focus,
.map-interective-module .map-show-filter-btn:active {
  background: transparent;
}
.map-interective-module .map-show-filter-btn.open {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.map-interective-module .map-show-filter-btn i:before {
  font-size: 16px;
}
.map-interective-module,
.map-block {
  position: relative;
}
.map-user-interaction {
  position: absolute;
  width: 25%;
  max-width: 380px;
  min-width: 270px;
  background: #fff;
  left: 0;
  top: 0;
  z-index: 10;
}
@media (min-width: 768px) {
  .map-user-interaction {
    overflow-y: auto;
  }
}
@media (max-width: 767px) {
  .map-user-interaction {
    width: 100%;
    max-width: none;
    top: -46px;
  }
}
.map-user-interaction .map-filter-zoom,
.map-user-interaction .map-filter-header,
.map-user-interaction .minimize-map {
  height: 45.9px;
  line-height: 45.9px;
  background: #007254;
  font-size: 16px;
  padding: 0 10px;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
  text-overflow: ellipsis;
  position: relative;
}
@media (min-width: 1200px) {
  .map-user-interaction .map-filter-zoom,
  .map-user-interaction .map-filter-header,
  .map-user-interaction .minimize-map {
    padding: 0 20px;
    height: 54px;
    line-height: 54px;
  }
}
.map-user-interaction .minimize-map {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -1;
}
.map-user-interaction .map-filter-header {
  background: #005e45;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 1px solid #cfdbd8;
}
@media (min-width: 1200px) {
  .map-user-interaction .map-filter-header {
    font-size: 19px;
  }
}
@media (min-width: 768px) {
  .map-user-interaction .map-show-filter-btn {
    display: none!important;
  }
}
@media (max-width: 767px) {
  .map-user-interaction .map-filter-zoom,
  .map-user-interaction .minimize-map {
    display: none!important;
  }
  .map-user-interaction .map-filter-scrollable.closed {
    display: none;
  }
}
/*- Pretty Checkbox -*/
.map-filter-item [type="checkbox"]:not(:checked),
.map-filter-item [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.map-filter-item .option-container {
  list-style-type: none;
  font-size: 14px;
  padding: 0 1em 0 2em;
  background: #f5faf3;
  margin-bottom: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.map-filter-item .option-container li {
  position: relative;
  padding-left: 7px;
  font-size: 12px;
  line-height: 1.15;
  color: #005e45;
  cursor: pointer;
}
.map-filter-item .option-container li a {
  text-decoration: underline!important;
  font-size: inherit;
}
.map-filter-item .option-container li a:focus,
.map-filter-item .option-container li a:active,
.map-filter-item .option-container li a:hover {
  text-decoration: none!important;
  color: black;
}
.map-filter-item .option-container li:before {
  content: ':';
  position: absolute;
  left: 0;
  color: #f00;
  font-weight: 700;
}
.map-filter-item .option-container li:first-child {
  padding-top: 1em;
}
.map-filter-item .option-container li:last-child {
  padding-bottom: 1em;
}
.map-filter-item .option-container li + li {
  margin-top: 1em;
}
@media (max-width: 767px) {
  .map-filter-item .option-container {
    display: none;
  }
}
@media (min-width: 1200px) {
  .map-filter-item .option-container {
    padding: 0 1em 0 12%;
  }
  .map-filter-item .option-container li {
    font-size: 14px;
  }
}
.map-filter-item > label {
  position: relative;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1.25em;
  padding: 1em 1em 1em 2em;
  margin: 0;
  cursor: pointer;
  outline: none !important;
}
@media (min-width: 1200px) {
  .map-filter-item > label {
    font-size: 16px;
    padding: 1.15em 1.15em 1.15em 12%;
  }
}
.map-filter-item > label .label-text {
  display: block;
  overflow: hidden;
  font-size: inherit;
  text-overflow: ellipsis;
  -webkit-flex-basis: 75%;
  -moz-flex-basis: 75%;
  -ms-flex-basis: 75%;
  flex-basis: 75%;
  max-width: 75%;
  color: #005e45;
}
.map-filter-item > label .filter-qty {
  font-size: inherit;
  color: #545454;
}
.map-filter-item [type="checkbox"]:checked ~ .option-container {
  height: 100%;
}
.map-filter-item + .map-filter-item > label {
  border-top: 1px solid #cfdbd8;
}
/* checkbox aspect */
.map-filter-item [type="checkbox"] + label .label-text:before,
.map-filter-item [type="checkbox"]:checked + label .label-text:before {
  content: '';
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -6px;
  border-bottom: 6px solid transparent;
  border-top: 6px solid transparent;
  border-left: 8px solid;
}
@media (min-width: 1200px) {
  .map-filter-item [type="checkbox"] + label .label-text:before,
  .map-filter-item [type="checkbox"]:checked + label .label-text:before {
    left: 20px;
  }
}
label.map-show-all .label-text {
  color: #000;
}
label.map-show-all .label-text:before {
  content: '';
  position: absolute;
  left: 2px;
  top: 50%;
  margin-top: -11px;
  width: 22px;
  height: 22px;
  background: #005e45;
}
@media (min-width: 1200px) {
  label.map-show-all .label-text:before {
    left: 10px;
  }
}
label.map-show-all .label-text:after {
  content: '\f00c';
  font-family: 'FontAwesome';
  position: absolute;
  left: 2px;
  top: 50%;
  margin-top: -11px;
  color: #fff;
  font-size: 0px;
  line-height: 22px;
  width: 22px;
  height: 22px;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
@media (min-width: 1200px) {
  label.map-show-all .label-text:after {
    left: 10px;
  }
}
label.map-show-all.active .label-text:after {
  opacity: 1;
  font-size: 14px;
}
@media (min-width: 1200px) {
  label.map-show-all.active .label-text:after {
    left: 10px;
  }
}
.map-filter-item [type="checkbox"]:checked + label {
  color: #fff;
}
.map-filter-item [type="checkbox"]:checked + label .label-text,
.map-filter-item [type="checkbox"]:checked + label .filter-qty {
  color: inherit;
}
@media (min-width: 768px) {
  .map-filter-item [type="checkbox"]:checked + label .label-text:before {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
.map-user-interaction .dark-green[type="checkbox"] + label .label-text:before {
  border-left-color: #005e45;
}
.map-user-interaction .light-green[type="checkbox"] + label .label-text:before {
  border-left-color: #40a313;
}
.map-user-interaction .dark-blue[type="checkbox"] + label .label-text:before {
  border-left-color: #00457f;
}
.map-user-interaction .light-blue[type="checkbox"] + label .label-text:before {
  border-left-color: #0099cc;
}
.map-user-interaction .violet[type="checkbox"] + label .label-text:before {
  border-left-color: #690027;
}
.map-user-interaction .yellow[type="checkbox"] + label .label-text:before {
  border-left-color: #d48900;
}
.map-user-interaction .pure-red[type="checkbox"] + label .label-text:before {
  border-left-color: #ff0a14;
}
.map-user-interaction .cyan[type="checkbox"] + label .label-text:before {
  border-left-color: #5ba3a6;
}
.map-user-interaction .purple[type="checkbox"] + label .label-text:before {
  border-left-color: #8b559f;
}
.map-user-interaction .light-yellow[type="checkbox"] + label .label-text:before {
  border-left-color: #e1c400;
}
.map-user-interaction .grey[type="checkbox"] + label .label-text:before {
  border-left-color: #9095aa;
}
.map-user-interaction [type="checkbox"]:checked + label {
  color: #fff;
}
.map-user-interaction [type="checkbox"]:checked + label .label-text:before {
  border-left-color: #fff;
}
.map-user-interaction .dark-green[type="checkbox"]:checked + label {
  background: #005e45;
}
.map-user-interaction .light-green[type="checkbox"]:checked + label {
  background: #40a313;
}
.map-user-interaction .dark-blue[type="checkbox"]:checked + label {
  background: #00457f;
}
.map-user-interaction .light-blue[type="checkbox"]:checked + label {
  background: #0099cc;
}
.map-user-interaction .violet[type="checkbox"]:checked + label {
  background: #690027;
}
.map-user-interaction .yellow[type="checkbox"]:checked + label {
  background: #d48900;
}
.map-user-interaction .pure-red[type="checkbox"]:checked + label {
  background: #ff0a14;
}
.map-user-interaction .cyan[type="checkbox"] + label:before {
  background: #5ba3a6;
}
.map-user-interaction .purple[type="checkbox"] + label:before {
  background: #8b559f;
}
.map-user-interaction .light-yellow[type="checkbox"] + label:before {
  background: #e1c400;
}
.map-user-interaction .grey[type="checkbox"] + label:before {
  background: #9095aa;
}
.map-interective-module.full-screen {
  position: fixed;
  width: 100%;
  height: 100%!important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100000;
  background: #fff;
  overflow: hidden;
}
.map-interective-module.full-screen #map_canvas {
  height: 100%;
}
.map-interective-module.full-screen .full-screen-header {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.map-interective-module.full-screen .full-screen-header .logo-block {
  width: 25%;
  font-size: 14px;
  padding: 1em 0;
  min-width: 270px;
}
.map-interective-module.full-screen .full-screen-header .logo-block img {
  padding-left: 2em;
  max-width: 180px;
}
@media (min-width: 1200px) {
  .map-interective-module.full-screen .full-screen-header .logo-block {
    font-size: 16px;
  }
  .map-interective-module.full-screen .full-screen-header .logo-block img {
    padding-left: 12%;
  }
}
.map-interective-module.full-screen .full-screen-header .header-block {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-grow: 3;
  -moz-flex-grow: 3;
  -ms-flex-grow: 3;
  flex-grow: 3;
  margin-right: 15px;
}
.map-interective-module.full-screen .full-screen-header .header-block .h1 {
  font-size: 1.5em;
  margin: 0;
}
.map-interective-module.full-screen .full-screen-header .header-block .minimize-map {
  font-size: 16px;
  color: #005e45;
}
@media (max-width: 991px) {
  .map-interective-module.full-screen .full-screen-header .header-block .minimize-map span {
    display: none;
  }
}
.map-interective-module.full-screen .full-screen-header .header-block .map-minimize-btn {
  position: static;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.map-interective-module.full-screen .map-user-interaction .minimize-map {
  z-index: 5;
}
.infoWin-title {
  font-size: 1.4em;
  padding-bottom: 15px;
  position: relative;
}
.infoWin-title:after {
  content: '';
  position: absolute;
  display: block;
  width: 100px;
  height: 0;
  border-bottom: 1px solid #005e45;
  bottom: 0%;
}
.infoWin-title a {
  text-decoration: underline;
}
.infoWin-city {
  font-size: 14px;
  font-weight: 400;
}
.infoWin-marker {
  margin: 5px 10px 5px 5px;
}
.infoWin-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}
.infoWin-content .text {
  font-size: 14px;
  line-height: 1.4em;
  font-weight: 400;
}
/* Filter user-friendly adaptation */
.map-filter-switcher {
  position: absolute;
  background: #005e45;
  padding: 3px 10px;
  z-index: 10;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  border: none;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.map-module-filter .filter-close {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 32px;
  cursor: pointer;
}
#map_canvas .cluster > div {
  background: #00805e;
  border-radius: 15px;
  height: 22px!important;
  width: auto!important;
  min-width: 22px;
  padding: 0 3px;
  line-height: 20px!important;
  border: 1px solid #fff;
  font-weight: 300!important;
  text-align: center!important;
}
