@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-size: 20px;
	font-style: normal;
}
.flaticon-backward4:before {
	content: "\e000";
}
.flaticon-businessman248:before {
	content: "\e001";
}
.flaticon-camera153:before {
	content: "\e002";
}
.flaticon-cellphone67:before {
	content: "\e003";
}
.flaticon-chevron6:before {
	content: "\e004";
}
.flaticon-connector3:before {
	content: "\e005";
}
.flaticon-downarrow25:before {
	content: "\e006";
}
.flaticon-envelope32:before {
	content: "\e007";
}
.flaticon-envelopes1:before {
	content: "\e008";
}
.flaticon-music249:before {
	content: "\e009";
}
.flaticon-placeholder30:before {
	content: "\e00a";
}
.flaticon-speaker100:before {
	content: "\e00b";
}
.flaticon-uparrow32:before {
	content: "\e00c";
}

