@charset "UTF-8";
@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}
#mob-site-menu{
	font-family: Arial, Helvetica, sans-serif;
	font-size:30px;
	float:left;
	width:0%;
	/*height:100%;*/
	position:absolute;
	top:0;
	left:0;
	z-index:9999;
	background: #fff;
-webkit-box-shadow: -5px 1px 30px 0px rgba(50, 50, 50, 0.2);
-moz-box-shadow:    -5px 1px 30px 0px rgba(50, 50, 50, 0.2);
box-shadow:         -5px 1px 30px 0px rgba(50, 50, 50, 0.2);
}

#nav .block {
  position: relative;
  margin: 0 auto;
  max-width: 60em;
  display:none;
}
.nav-active{
	font-weight:bold;
}
.nav-btn {
  display: block;
  float:right;
/*  position:fixed;*/
  z-index:100;
  top:0;
  right:0;
/*  width: 60px;
  height: 60px;*/
  padding: 0;
  border: 0;
  outline: none;
  /*background:#242424;*/
  /*background:#242424 url("../images/menu_btn.png") left center no-repeat;*/
  /*background-size: 1.875em 1.5em;*/
  overflow: hidden;
  white-space: nowrap;
  /*text-indent: 100%;*/
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-align:center;
  margin-left: 25px;
}
.close-btn{
	display:none;
}
.menu-opened .close-btn{
	display:block;
}
.menu-opened .open-btn{
	/*display:none;*/
}
.open-btn{
	width:40px;
	height:30px;
}
/*.no-svg .nav-btn {
  background-image: url("../img/nav-icon.png");
}*/
.nav-btn:hover, .nav-btn:focus {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
}

#outer-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
}

#inner-wrap {
  position: relative;
  width: 100%;
}

#nav {
  z-index: 200;
  position: relative;
  overflow: hidden;
  width: 100%;
  color: #fff;
  text-transform:uppercase;

	line-height: 27px;
	font-size: 18px;
	font-weight: 300;
	
}
#nav > ul, .sub-menu{
	padding-left:0;
	list-style:none;
}
#nav > ul > li, #nav > ul > li > a{
	list-style:none;
	background:#005e45;
	color:#fff;
}

.sub-menu > li, .sub-menu > li > a{
	list-style:none;
	color:#005e45;
	background:#fff;
	font-size:14px;	
}
.sub-menu > li > a{
	padding:5px 20px!important;
}
.sub-menu > li.current > a{
	text-decoration:underline;
}
#nav a{
	display:block;
	color:#005e45;
	padding: 17px 20px;
	border-bottom:3px solid #fff;
}
#nav .first a, #nav .first span{
	color:#005e45;
	background:#fff;
	padding:29px 20px;
}

#nav > ul{
/* 	padding-bottom:62px;
	border-bottom:1px solid #555;
	margin-bottom:62px;*/
}
#nav .current{
	font-weight:bold;
}
#site-menu p{
	padding: 0 40px;	
}