@charset "utf-8";

::-webkit-input-placeholder {color:#005e45;}
::-moz-placeholder          {color:#005e45;}/* Firefox 19+ */
:-moz-placeholder           {color:#005e45;}/* Firefox 18- */
:-ms-input-placeholder      {color:#005e45;}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

/* CSS Document */
body {
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#1a171b;
	font-size:19px;
	min-width:320px;
}
.logo {
	float: left;
	position:relative;
	top:30px;
	left:15px;
	
}
/*.container .container {
	width: 100%;
}*/
.site-header{
	height:113px;
	width:100%;
}
.site-header .navbar{
	min-height:88px;
	background: #fff;
}
.site-header .container{
	height: 113px;
	border-bottom: 25px solid #005e45;
}
.site-menu{
	font-family:Arial, Helvetica, sans-serif;
	color:#005e45;
	font-size:14px;
	position: relative;
	top: 17px;
	margin-left: 10px;
}
.navbar-default {
	 background-color:transparent; 
	 border-color:transparent; 
}
.site-menu .navbar-nav > li{
	margin-right:1px;
}
.site-menu .navbar-nav > li > a, .site-menu .navbar-nav > li > span{
	display:block;
	color:#005e45;
	padding:17px 17px 34px 17px;
	background-color:transparent;
 -webkit-transition: all .295s ease-in;
 -moz-transition: all .295s ease-in;
 -ms-transition: all .295s ease-in;
 -o-transition: all .295s ease-in;
 transition: all .295s ease-in;
	
}
.site-menu .navbar-nav > .open > a,
.site-menu .navbar-nav > li > a:hover,
.site-menu .navbar-nav > li:hover,
.site-menu .navbar-nav > .open > a:hover, 
.site-menu .navbar-nav > .open > a:focus,
.site-menu .navbar-nav > li.current > span {
	color: #fff;
	background-color: #005e45;
}
.site-menu .navbar-nav > .active > a, 
.site-menu .navbar-nav > .active > a:focus {
	background-color:transparent;
}
.nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
	background-color: transparent;
}
.red{
	color:red;
	font-weight:bold;
}
.top-links{
	float:right;
	position: relative;
	top: 26px;
	/*left: 65px;*/
}
.top-links ul{
	list-style:none;
	padding-left: 0;
}
.top-links li{
	float:left;
	list-style:none;
	position:relative;
}
.top-links a{
	display:block;
}
.top-links .first{
	margin-right:15px;
}
.searchbox-container{
	float:right;
	position: relative;
	top: 24px;	
}
.searchbox-container .searchbox-input{
	width:132px;
	height:20px;
	border:1px solid #005e45;
	font-size:9px;
	font-family:Arial, Helvetica, sans-serif;
	padding:5px;
	color:#005e45;
	outline:none;
}
.searchbox-container .searchbox-submit{
	display:none;
}
.main{
	margin-top:15px;
	min-height:500px;
	
}


.top-footer{
	width:100%;
	min-height:25px;
	background:#005e45;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:0 11px;
	line-height:25px;
}
.bottom-footer{
	color:#545454;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:30px 0;
	border-top:1px solid #005e45;
}
.top-footer p, .bottom-footer p{
	margin: 0 0;
	line-height:25px;
}
.top-footer p, .soc{
	float:left;
}
.soc{
	list-style:none;
	padding-left:27px;
	margin-bottom:0px;
}
.soc li{
	float:left;
	list-style:none;
	margin-right:30px;
}
.soc img{
	margin-right:7px;
}
.soc a{
	display:block;
	color:#fff;
}
.soc a:hover{
	text-decoration:none;
}
.middle-footer{
	background:#005e44;
}
.middle-footer .container-fluid{
	padding:0 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin: 30px 0;
}
.middle-footer .col-md-5{
	width:20%;
}
.middle-footer .first{
	padding-left:0;
}
.middle-footer .last{
	padding-right:0;
}
.middle-footer .nav > li > a, .middle-footer .nav > li > span{
	display:block;
	color:#fff;
	padding:0 0;
	margin-bottom:15px;
}
.middle-footer .red {
	color: #fff;
}
.middle-footer .nav > li.first{
	font-size:16px;
	margin-bottom:20px;
}
.middle-footer .nav > li > a:hover{
	background-color:transparent;
	text-decoration:underline;
}
.middle-footer .nav > li > span{
	/*color:#333;*/
	font-weight:bold;
}

.main .content{
	background:#fff;
	padding: 0 50px;
}
h1, .h1, h2, .h2 {
	margin-top: 0px;
	margin-bottom: 20px;
}
h3, .h3 {
	margin-top: 0px;
	margin-bottom: 17px;
}
p {
	margin: 0 0 25px;
}
caption, .img-caption{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#545454;
	margin-top:14px;
	margin-bottom:35px;
}
p.subheader{
	margin: 0 0 30px;
}
span.top, span.bot{
	display:block;
	width:20%;
	border-bottom:1px solid #1a171b;
}
span.top{
	margin-bottom:20px;
}
span.bot{
	margin-top:20px;
}
/* Dropdown menu */
.dropdown-menu {
	position: absolute;
	top: 70px;
	left: -182px;
	z-index: 1000;
	display: none;
	float: left;
	width: 1002px;
	padding: 20px 0;
	margin:0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.dropdown-left{
	float:left;
	padding:0 1% 0 2%;
	width:72%;	
}
.dropdown-left a{
	color:#005e45;	
}
.dropdown-left .first a{
	font-size:16px;
	font-weight:bold;	
}
.dropdown-left .clearfix{
	margin-bottom:15px;
}
.dropdown-right{
	float:right;
	padding:0 2% 0 1%;
	width:28%;
}
.dropdown-right strong, .dropdown-right p{
	color:#1a171b;
	font-size:14px;
}
.dropdown-menu-col{
	float:left;
	padding:0 0;
	width:30%;
	padding-right:3%;
}

/* Share */
.top-links-popup{
	height: 23px;
	float: left;
	width: 100px;
	position: absolute;
	top: 28px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;		
}
.top-links li:hover .top-links-popup{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;

}
.top-links-popup a{
	float:left;
}
/* Searchbox */
/*
.searchbox-container{
	float:right;
	position:relative;
	margin-top:58px;
	height:30px;
	width: 165px;
}
.searchbox-input, .tx-indexedsearch-form .form-control{
	padding:7px 35px 7px 15px;
	background:url(../images/search.png) no-repeat scroll 96% center;
	border:1px solid #f4f5f5;
	-webkit-box-shadow: inset 2px 2px 7px -2px rgba(0,0,0,0.32);
-moz-box-shadow: inset 2px 2px 7px -2px rgba(0,0,0,0.32);
box-shadow: inset 2px 2px 7px -2px rgba(0,0,0,0.32);
border-radius: 3px 3px 3px 3px;
-moz-border-radius: 3px 3px 3px 3px;
-webkit-border-radius: 3px 3px 3px 3px;
	outline:none;
	width:113px;

}
.tx-indexedsearch-form .form-control{
	background:none;
	margin:0 5px;
	width:600px;
}
.tx-indexedsearch-form .btn{
	text-transform: uppercase;
	padding: 5px 50px;
	background: #2c3b97;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	border: 0 none;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-bottom: 2px solid #232f79;
	cursor: pointer;
	-webkit-transition: all .295s ease-in;
	-moz-transition: all .295s ease-in;
	-ms-transition: all .295s ease-in;
	-o-transition: all .295s ease-in;
	transition: all .295s ease-in;
	float:right;
	width:170px;
	outline:none;
}
.searchbox-submit{
	position:absolute;
	right:0;
	top:0;
	width:30px;
	height:30px;
	background-color:transparent;
	border:0 none;
	cursor:pointer;
}
*/
/* Indexed search */
.suche-container .form-control{
	/*float:left;
	width:50%;*/
	border: 1px solid #005e45;
	border-radius: 0px;
	/*padding-right:5px!important;*/
}
.suche-container .btn-primary {
	color: #fff;
	background-color: #005e45;
	border-color: #005e45;
	border-radius: 0px;
	width: 100%;
}
.tx-indexedsearch-whatis + .tx-indexedsearch-browsebox > .browsebox{
	display:none;
}
.tx-indexedsearch-browsebox{
	text-align:center;
	display:none;
}
.tx-indexedsearch-browsebox > p{
	background:#a6acaf;
	color:#fff;
	padding:10px;
	margin-bottom:35px;
	text-align:left;
}
.tx-indexedsearch-whatis{
	font-size: 28px;
	/*font-weight: normal;
	margin-bottom: 28px;
	color: #005e45;
	font-family: 'Roboto', Arial, Verdana, Helvetica, Sans-Serif;	
	padding-left: 60px;
	background: url(../images/search-blue.png) no-repeat scroll left center;*/	
}
.tx-indexedsearch .tx-indexedsearch-whatis {
	margin-top: 0px;
	margin-bottom: 25px;
}
.tx-indexedsearch-form label{
	color:#000;
	font-size:18px;
}
.item-path a{
	font-size:19px;
	color:#005e45;
}
.tx-indexedsearch-title{
	color:#005e45;
}
.tx-indexedsearch-title a{
	font-size:19px;
	color:#005e45;
	text-decoration:none;
	display:block;
	margin-bottom:17px;
}
ul.browsebox{
	padding-left:0;
}
.tx-indexedsearch .tx-indexedsearch-browsebox LI {
	display: inline;
	margin-right: 10px;
}
.tx-indexedsearch .tx-indexedsearch-whatis .tx-indexedsearch-sw {
	color:#e42322;
	font-weight: normal;
	font-style: normal;
	text-transform:lowercase;
}
.tx-indexedsearch-res h3{
	position:relative;
	left:-32px;
	line-height: 24px;
	margin-bottom:0;
	padding-left:32px;
	background:url(../images/page.png) no-repeat scroll left center;
}
.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-descr .tx-indexedsearch-redMarkup {
	color: #ee2b33;
}
.tx-indexedsearch-icon{
	position:relative;
	top:-2px;
}
.tx-indexedsearch-res{
	padding-left:32px;
}
.tx-indexedsearch-res .tx-indexedsearch-res{
	padding-left:0px;
	border-bottom:1px solid #ded6d9;
	padding-bottom:35px;
	margin-bottom: 35px;	
}
.tx-indexedsearch .tx-indexedsearch-noresults {
text-align: left;
}

@media screen and (max-width: 768px) {
	.tx-indexedsearch-form .col-xs-12{
		padding-left:0px;
		padding-right:0px;
		margin-bottom:15px;
	}
}
@media screen and (max-width: 320px) {

}