@charset "utf-8";

::-webkit-input-placeholder {color:#005e45;}
::-moz-placeholder          {color:#005e45;}/* Firefox 19+ */
:-moz-placeholder           {color:#005e45;}/* Firefox 18- */
:-ms-input-placeholder      {color:#005e45;}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

/* CSS Document */
body {
	font-family:Arial, Georgia, "Times New Roman", Times, serif;
	color:#1a171b;
	font-size:19px;
	min-width:320px;
}
.logo {
	float: left;
	position:relative;
	top:30px;
	/*left:15px;*/
	left:-15px;
	
}
/*.container .container {
	width: 100%;
}*/
.ce-gallerycontent img, .ce-gallerynews img{
	margin-bottom:30px;
}
.site-header{
	/*height:113px;*/
	height:88px;
	width:100%;
}
.site-header .navbar{
	min-height:88px;
	background: #fff;
	z-index:9000;
}
.site-header .container{
	/*height: 113px;*/
	/*border-bottom: 25px solid #005e45;*/
}
.greenline {
	background-color: #005e45;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #fff;
	padding: 8px;
	/*height: 34px;*/
}
.greenline > p{
	margin-bottom:0;
}
.greenline span.red {
	padding-left: 4px;
	padding-right: 4px;
	color: #fff!important;
}
.align-center {
	text-align: center;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.navbar-fixed-top-breadcrumb{
	top:88px;
	/*z-index:0;*/
	z-index:1;
}
p a{
	text-decoration:underline;
}
.breadcrumb {
	padding: 9px 12px 6px;
	margin-top: 17px;
	margin-bottom: 20px;
	list-style: none;
	background-color: #005e45;
	border-radius: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #fff;
}
.breadcrumb > li{
	margin-right:5px;
}
.breadcrumb a {
	color: #fff;
}
.breadcrumb > .active {
	color: #fff;
}
.breadcrumb span.red {
	padding-left: 4px;
	padding-right: 4px;
}

.site-menu{
	font-family:Arial, Helvetica, sans-serif;
	color:#005e45;
	font-size:14px;
	position: relative;
	top: 17px;
	margin-left: 19px;
}
.navbar-default {
	 background-color:transparent; 
	 border-color:transparent; 
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #fff;
	background-color: transparent;
}
.site-menu .navbar-nav > li{
	margin-right:1px;
}
.site-menu .navbar-nav > li > a, .site-menu .navbar-nav > li > span{
	display:block;
	color:#005e45;
	padding:17px 17px 34px 17px;
	background-color:transparent;
 -webkit-transition: all .295s ease-in;
 -moz-transition: all .295s ease-in;
 -ms-transition: all .295s ease-in;
 -o-transition: all .295s ease-in;
 transition: all .295s ease-in;
	
}
.site-menu .navbar-nav > li > a:hover { color: #fff; }
.site-menu .navbar-nav > .open > a,
.site-menu .navbar-nav > li > a:hover,
.site-menu .navbar-nav > li:hover,
.site-menu .navbar-nav > .open > a:hover, 
.site-menu .navbar-nav > .open > a:focus,
.site-menu .navbar-nav > li.current > span {
	color: #fff;
	background-color: #005e45;
}
.site-menu .navbar-nav > li > a:hover > .red, .dropdown-left li > a:hover > .red,
.site-menu .navbar-nav > li:hover > a, .site-menu .navbar-nav > li:hover > a > .red{
	color: #fff!important;
}
.site-menu .navbar-nav > .active > a, 
.site-menu .navbar-nav > .active > a:focus {
	background-color:#005e45;
	/*transparent;*/
}
.nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
	background-color: transparent;
}
.white {
	color:#fff!important;
	font-weight:bold;
	line-height:1;
}
.breadcrumb a, .breadcrumb span{
	float:left;
	line-height:1;
}
.breadcrumb .white {
	float:left;
}

.breadcrumb > li + li:before{
	content:"";
	padding: 0 0;
}
.red {
	color:#e10a14!important;
	font-weight:bold;
}
.top-links{
	float:right;
	position: relative;
	top: 26px;
	/*left: 65px;*/
	margin-right:0px;
	left:-15px;
}
.top-links ul{
	list-style:none;
	padding-left: 0;
}
.top-links li{
	float:left;
	list-style:none;
	position:relative;
}
.top-links a{
	display:block;
}
.top-links .first{
	margin-right:15px;
}
.content ul{
	list-style-image:url(../images/bullet.png);
}
.content a{
	color:#005e45;
}
.searchbox-container{
	float:right;
	position: relative;
	top: 24px;	
}
.mob-searchbox-container .searchbox-container{
	float:none;
	position: relative;
	top: auto;
	/*padding-top: 15px;
	padding-bottom: 15px;*/
	padding:15px 36px;
}
.searchbox-container .searchbox-input{
	width:132px;
	height:20px;
	border:1px solid #005e45;
	font-size:9px;
	font-family:Arial, Helvetica, sans-serif;
	padding:5px;
	color:#005e45;
	outline:none;
}
.mob-searchbox-container .input-group {
	width: 100%;
}
.mob-searchbox-container .searchbox-container .searchbox-input{
	width: 100%;
	height: 32px;
	border: 1px solid #005e45;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 5px;
	color: #005e45;
	outline: none;
}

.searchbox-container .searchbox-submit{
	display:none;
}
.main{
	margin-top:15px;
	min-height:500px;
	
}


.top-footer{
	min-height:25px;
	background:#005e45;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:0 11px;
	line-height:25px;
}
.bottom-footer{
	color:#545454;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:30px 0;
	border-top:1px solid #005e45;
}
.top-footer p, .bottom-footer p{
	margin: 0 0;
	line-height:25px;
}
.top-footer p, .soc{
	float:left;
}
.soc{
	list-style:none;
	padding-left:27px;
	margin-bottom:0px;
}
.soc li{
	float:left;
	list-style:none;
	margin-right:30px;
}
.soc img{
	margin-right:7px;
}
.soc a{
	display:block;
	color:#fff;
}
.soc a:hover{
	text-decoration:none;
}
.middle-footer{
	background:#005e44;

}
.middle-mfooter, .middle-mfooter + .middle-footer{
	padding-left: 35px;
	padding-right:35px;
}
.middle-footer-2{
	padding:0 35px;
}
.footer-menu-closed, .footer-form-closed{
	height:0;
	overflow:hidden;
}
.footer-menu-opened, .footer-form-opened{
	height:auto!important;
	padding-bottom:30px;
}
.middle-footer .container-fluid{
	/*padding:0 0;*/
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin: 30px 0;
}
.middle-footer .middle-footer .container-fluid{
	margin:0 0;
}
.middle-footer .col-md-5{
	width:20%;
}
.middle-footer .first{
	padding-left:0;
}
.middle-footer .last{
	padding-right:0;
}
.middle-footer .nav > li > a, .middle-footer .nav > li > span{
	display:block;
	color:#fff;
	padding:0 0;
	margin-bottom:15px;
}
/*.middle-footer .nav > li > a.sitemap{
	padding-left:15px;
	background:url(../images/white-triangle.png) no-repeat left center;
}*/
.middle-footer .red {
	color: #fff;
}
.middle-footer .nav > li.first{
	font-size:14px;
	/*font-size:16px;*/
	margin-bottom:20px;
}
.middle-footer .nav > li > a:hover{
	background-color:transparent;
	text-decoration:underline;
}
.middle-footer .nav > li > span{
	/*color:#333;*/
	font-weight:bold;
}
.middle-mfooter .nav > li, .middle-mfooter .nav > li > a, .middle-mfooter .nav > li.first{
	margin-bottom:0;
}
.middle-footer .nav > li > a > .white {
	font-size:14px;
}

.scrollup {
	width:148px;
	height:45px;			
	text-indent:-9999px;
	/*opacity:0.3;*/
	position:fixed;
	bottom:50px;
	right:-22px;
	display:none;	
	cursor:pointer;
	background: url('../images/totop.png') no-repeat scroll left top;
}

.visible .container-fluid {
	margin: 0 0;
}
.main .content{
	background:#fff;
	padding: 0 50px;
}
.main > .container{
	width:100%!important;
	padding: 0 0;
}
h1, .h1, h2, .h2 {
	margin-top: 0px;
	margin-bottom: 20px;
	font-family:Georgia, "Times New Roman", Times, serif;
}
h1{
	font-size:28px;
}
h3, .h3 {
	margin-top: 0px;
	margin-bottom: 17px;
	font-family:Georgia, "Times New Roman", Times, serif;
}
p {
	margin: 0 0 25px;
}
caption, .img-caption, .caption-position-left{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#545454;
	margin-top:14px;
	margin-bottom:35px;
}
p.subheader, p.subheader2{
	margin: 0 0 30px;
	font-family:Georgia, Arial, Helvetica, sans-serif;
	font-size:20px;
}
span.top, span.bot{
	display:block;
	width:20%;
	border-bottom:1px solid #005e45;
}
span.top{
	margin-bottom:20px;
}
span.bot{
	margin-top:20px;
}
p.subheader2 .top, p.subheader2 .bot{
	display:none;
}
/* Dropdown menu */
.site-menu .dropdown-menu {
	position: absolute;
	top: 70px;
	left: -182px;
	z-index: 1000;
	display: none;
	float: left;
	width: 1002px;
	/*padding: 20px 0;*/
	padding-top: 0;
	padding-bottom: 20px;
	margin:0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.greenline-menu {
	border-top: 10px solid #005e45;
	padding-bottom: 20px;
	margin: 0;
}
.dropdown-left{
	float:left;
	padding:0 1% 0 2%;
	width:72%;	
}
.dropdown-left-4{
	width:100%;	
	padding: 0 2% 0 2%;
}
.dropdown-left-4 .dropdown-menu-col {
	width: 25%;
}
.dropdown-left li {
	border-bottom:1px solid #005e45;
	position: relative;
}
.dropdown-left li > a, .dropdown-left li > span{
	display:block;
	color:#005e45;
	line-height:35px;
	padding:0 9px;
	text-decoration:none;
	margin:10px 0;
	font-size: 14px;
	/*font-size: 16px;
	font-weight: bold;	*/
}
.dropdown-left li > a:hover, .dropdown-left li > span:hover, .dropdown-left li.current > span{
	background-color:#005e45;
	color:#fff;
}
/*.dropdown-left .first a {
	font-size:16px;
	font-weight:bold;	
}*/
.dropdown-left li > a  > .red {
	font-size: 14px;
}
.dropdown-left li > span  > .white {
	font-size: 14px;
}
.dropdown-left .clearfix{
	/*margin-bottom:15px;*/
}
.dropdown-left hr {
	float: left;
	margin-top: 8px;
	margin-bottom: 8px;
	border: 0;
	border-top: 1px solid grey;
	width: 90%;
}


.dropdown-right{
	float:right;
	padding:0 2% 0 1%;
	width:28%;
}
.dropdown-right strong, .dropdown-right p{
	color:#1a171b;
	font-size:14px;
}
.dropdown-menu-col{
	float:left;
	padding:0 0;
	width:33%;
	padding-right:3%;
}

.dropdown-menu-col.last{
	padding-right:0;
}
.dropdown-left li > a.plus, .dropdown-left li > a.minus{
	position:absolute;
	left:0;
	top:0;
	display:block;
	width:12px;
	height:12px;
	padding: 0 0;
}
.dropdown-left li > a.plus{
	background:#005e45 url(../images/plus.png) no-repeat;
}
.dropdown-left li > a.minus{
	background:#005e45 url(../images/minus.png) no-repeat;
}
.has3level{
	padding-left:20px!important;
}
.level3{
	padding-left:0px;
	padding-bottom:10px;
}
.dropdown-left .level3 a, .dropdown-left .level3 span{
	font-size:12px;
	margin:0 0;	
	padding:4px 20px 7px 20px;
	line-height:1;
}
.dropdown-left .level3 span.red{
	padding-left:1px;
}
.level3 li {
	border-bottom:0 none;
	margin-bottom:6px;
}
.level3 li.last{
	margin-bottom:0px;
}
.sub-sub-menu{
	list-style:none;
}
.sub-sub-menu > li > a{
	padding: 5px 10px!important;
}

/* Share */
.top-links-popup{
	height: 23px;
	float: left;
	width: 40px;
	position: absolute;
	top: 5px;
	left: -43px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;		
}
.top-links li:hover .top-links-popup{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;

}
.top-links-popup a{
	float:left;
}
/* img + text */
.media-left{
	float: left;
	width: 30%;
	margin-right:15px;
	margin-bottom:10px;
}
.media-right{
	float: right;
	width: 30%;
	margin-left:15px;
	margin-bottom:10px;
}
.media-body{
	display:inline;
}
/* Schools */
.no-news-found{
	margin-top:25px;
}
.school-items-container{
	margin-bottom:20px;
}
.school-item{
	position:relative;
	font-size:16px;
	line-height:1;
	border-bottom:1px solid #005e45;
}
.school-map-container .school-item.first{
  border-top: 1px solid #005e45;
}
.top-border{
	border-bottom:1px solid #005e45;
}
.school-item span.top, .school-item span.bot{
	/*position:relative;
	width:50%;*/
	width:100%;
	margin-top:0;
	margin-bottom:0;
}
.school-item span.top{
	top:-30px;
}
.school-item span.bot{
	/*bottom:-10px;*/
}
.school-item .school-info, .school-item .school-info2, .school-item .school-links{
	padding-top:19px;
	padding-bottom:9px;
}
.school-item .school-schulart{
	padding-bottom:15px;
}
.last-comma{
	display:none;
}
.school-item .school-info, .school-item .school-info2{
	padding-left:0;
}
.school-item .cat-item{
	word-break: break-word;
}
.school-schulart{
	padding-left:0;
	padding-right:0;
}
.school-links{
	padding-right:0;
	padding-left: 0;
	/*position:absolute;
	bottom:0;
	right:0;*/
}
.school-item h4{
	margin-top:0;
	margin-bottom:0;
	font-size:16px;
	color:#005e45;
}
.school-item .school-address, .school-item .related-links{
	font-size:16px;
	margin-bottom: 10px;
}
.school-audio{
	padding-left:20px;
	background:url(../images/audio-ico.png) no-repeat left center;
}
.school-profile{
	padding-left:23px;
	background:url(../images/profil-ico.png) no-repeat left center;
}
.school-photo{
	padding-left:23px;
	background:url(../images/photo-ico.png) no-repeat left center;
}
.school-video{
	padding-left:23px;
	background:url(../images/video-ico.png) no-repeat left center;
}

.school-filter-container{
	margin:7px 0;
}
.school-filter-container label{
	font-size:16px;
	font-family: Arial, Verdana, Helvetica, Sans-Serif;	
	font-weight:normal;
	width:100px;
}
#map_canvas{
	margin-bottom:10px;
}
.school-map-container > a{
	/*display:block;*/
	/*padding:29px 0;*/
}
.school-map-container > a:hover{
	text-decoration:none;
}
.school-map-container span.bot {
	top: 1px;
	position: relative;
}
.school-map-container .last span.bot {
	top: 0px;
}
.school-map-container .num {
	float:left;
	display:block;
	position:relative;
	top:-4px;
	color:#fff;
	background-color:#005e45;
	margin-right:12px;
	margin-bottom:15px;
	padding:5px 8px;
	text-align:center;
}
.infoWin {
	font-family:Arial;
	font-size:16px;
	
	
}
.infoWin strong{
	font-family:Georgia,Arial;
	font-size:20px;
	padding-right:10px;
	background:url(../images/bullet.png) no-repeat right center;
}
.sidebarMarker{
	display:block;
	padding-bottom:10px;

}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	width: 100%;
}
.bootstrap-select > .btn {
	border: 1px solid #005e45;
	border-radius: 0px;
}
.bootstrap-select.btn-group .btn .caret {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 0;
	width:30px;
	height:32px;
	background:#005e45 url(../images/white-triangle.png) no-repeat center center;
	color:#fff;
	border-top: 0 none; 
	border-right: 0 none; 
	border-left: 0 none; 
	border-bottom:0 none;
}
.container_overlay {
  background: #fff url(../images/loader.gif) no-repeat center center;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}
.container_overlay .loader {
  position: absolute;
  top: 28%;
  left: 50%;
  z-index: 9999;
  background: #fff;
  padding: 8px;
}
/* Stiker */
.newsticker{
	position:relative;
	font-size:12px;
	margin-bottom: 10px;
	top:-5px;
}
.newsticker-label{
	float:left;
	margin-right:15px;
}
.newsticker-carousel{
	padding-left: 0;
}
.newsticker .bx-wrapper {
	margin: 0 0!important;
	max-width: 80%!important;
	float: left;
	width: 80%;
}
.bx-wrapper .bx-viewport {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0 none;
  left: -5px;
  background: #fff;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}
.newsticker a{
	color:#005e44;
}
.ce-gallery a, .ce-onegallery a {
	display:block;
	font-size:14px;
	line-height:1.5;
	margin-top:10px;
	margin-bottom:10px;
}
/* Searchbox */
/*
.searchbox-container{
	float:right;
	position:relative;
	margin-top:58px;
	height:30px;
	width: 165px;
}
.searchbox-input, .tx-indexedsearch-form .form-control{
	padding:7px 35px 7px 15px;
	background:url(../images/search.png) no-repeat scroll 96% center;
	border:1px solid #f4f5f5;
	-webkit-box-shadow: inset 2px 2px 7px -2px rgba(0,0,0,0.32);
-moz-box-shadow: inset 2px 2px 7px -2px rgba(0,0,0,0.32);
box-shadow: inset 2px 2px 7px -2px rgba(0,0,0,0.32);
border-radius: 3px 3px 3px 3px;
-moz-border-radius: 3px 3px 3px 3px;
-webkit-border-radius: 3px 3px 3px 3px;
	outline:none;
	width:113px;

}
.tx-indexedsearch-form .form-control{
	background:none;
	margin:0 5px;
	width:600px;
}
.tx-indexedsearch-form .btn{
	text-transform: uppercase;
	padding: 5px 50px;
	background: #2c3b97;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	border: 0 none;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-bottom: 2px solid #232f79;
	cursor: pointer;
	-webkit-transition: all .295s ease-in;
	-moz-transition: all .295s ease-in;
	-ms-transition: all .295s ease-in;
	-o-transition: all .295s ease-in;
	transition: all .295s ease-in;
	float:right;
	width:170px;
	outline:none;
}
.searchbox-submit{
	position:absolute;
	right:0;
	top:0;
	width:30px;
	height:30px;
	background-color:transparent;
	border:0 none;
	cursor:pointer;
}
*/
/* Indexed search */
.suche-container .form-control{
	/*float:left;
	width:50%;*/
	border: 1px solid #005e45;
	border-radius: 0px;
	/*padding-right:5px!important;*/
}
.suche-container .btn-primary, .dropdown-menu .btn-more {
	color: #fff;
	background-color: #005e45;
	border-color: #005e45;
	border-radius: 0px;
	width: 100%;
}
.dropdown-menu .btn-more {
	width: auto;
}
.dropdown-menu .btn-more:hover {
	color:#fff;
	text-decoration:none;
}
.dropdown-menu img {
	margin-bottom:15px;
}
.tx-indexedsearch-whatis + .tx-indexedsearch-browsebox > .browsebox{
	display:none;
}
.tx-indexedsearch-browsebox{
	text-align:center;
	display:none;
}
.tx-indexedsearch-browsebox > p{
	background:#a6acaf;
	color:#fff;
	padding:10px;
	margin-bottom:35px;
	text-align:left;
}
.tx-indexedsearch-whatis{
	font-size: 28px;
	/*font-weight: normal;
	margin-bottom: 28px;
	color: #005e45;
	font-family: 'Roboto', Arial, Verdana, Helvetica, Sans-Serif;	
	padding-left: 60px;
	background: url(../images/search-blue.png) no-repeat scroll left center;*/	
}
.tx-indexedsearch .tx-indexedsearch-whatis {
	margin-top: 0px;
	margin-bottom: 25px;
}
.tx-indexedsearch-form label{
	color:#000;
	font-size:18px;
}
.item-path a{
	font-size:19px;
	color:#005e45;
}
.tx-indexedsearch-title{
	color:#005e45;
}
.tx-indexedsearch-title a{
	font-size:19px;
	color:#005e45;
	text-decoration:none;
	display:block;
	margin-bottom:17px;
}
ul.browsebox{
	padding-left:0;
}
.tx-indexedsearch .tx-indexedsearch-browsebox LI {
	display: inline;
	margin-right: 10px;
}
.tx-indexedsearch .tx-indexedsearch-whatis .tx-indexedsearch-sw {
	color:#e42322;
	font-weight: normal;
	font-style: normal;
	text-transform:lowercase;
}
.tx-indexedsearch-res h3{
	position:relative;
	left:-32px;
	line-height: 24px;
	margin-bottom:0;
	padding-left:32px;
	background:url(../images/page.png) no-repeat scroll left center;
}
.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-descr .tx-indexedsearch-redMarkup {
	color: #ee2b33;
}
.tx-indexedsearch-icon{
	position:relative;
	top:-2px;
}
.tx-indexedsearch-res{
	padding-left:32px;
}
.tx-indexedsearch-res .tx-indexedsearch-res{
	padding-left:0px;
	border-bottom:1px solid #ded6d9;
	padding-bottom:35px;
	margin-bottom: 35px;	
}
.tx-indexedsearch .tx-indexedsearch-noresults {
text-align: left;
}

/* Form Upload */
.form-upload {
	margin-top: -40px;
}
.form-upload .control-label {
	font-size: 16px;
	font-family: Arial, Verdana, Helvetica, Sans-Serif;
	font-weight: normal;
	width: 100px;
  text-align: left;
  padding-left: 30px;	
}
.form-upload .form-control {
	border: 1px solid #005e45;
	border-radius: 0px;
}
.form-upload .input-group {
	border: 1px solid #005e45;
	border-radius: 0px;
}
.form-upload .input-group .upload {
  float: right;
  width: auto;
  position: absolute;
  top: 2px;
  right: 3px;
  padding: 5px 10px;
  background: #005e45;
  color: #fff;
  font-size: 13px;
  border-radius: 0px;
}
.form-upload .submit {
	color: #fff;
	border: 1px solid #005e45;
	border-radius: 0px;
	background: #005e45;
	padding: 10px 40px 10px 40px;
	font-size: 16px;
	margin-top:10px;
}
.uploaded-files{

}
.uploadedfiles-label{
	display:block;
	margin-bottom:10px;
  font-size: 16px;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-weight: normal;	
}
.form-upload div.info-upload {
	color: #545454;
	font-size: 12px;
}
.form-upload .fileupload-list a.formhandler_removelink {
	margin-left: 8px;
}
.form-upload .help-block {
	font-size: 13px;
}

/* News */
.newslist {
	margin-top: -15px;
}
.newslist hr {
	border-bottom: 1px solid #005e45;
}
.newslist .datetime {
	font-size: 16px;
}
.newslist .teaser {
	font-size: 13px;
	margin-top: 10px;
}
.newslist .teaser p {
	margin: 0 0 12px;
}
.newslist .teaser .btn-more {
	color: #fff;
	background-color: #005e45;
	border-color: #005e45;
	border-radius: 0;
}
.detailnews {
	margin-top:35px;
}
.detailnews .mediaelement {
	margin: 0 0 25px;
}
.detailnews .btn-more {
	color: #fff;
	background-color: #005e45;
	border-color: #005e45;
	border-radius: 0;
}
.detailnews .facebook > div {
  float: right;
}
.detailnews .facebook .like {
  width: 180px;
  margin-left: 20px;
}
.detailnews .facebook .twitter {
  margin-top: 7px;
  width: 108px;
}
.socialshareprivacy, .content ul { list-style-image: none; }
.socialshareprivacy, .social_share_privacy_area { font-size: 12px; }
.socialshareprivacy { margin-bottom: 50px; }
/* Pagination */
.pagination{
	margin-top:10px;
	border-radius: 0px;
	width: 100%;
	text-align: center;	
}
.pagination > li > a:hover, .pagination > li > span:hover, 
.pagination > li > a:focus, .pagination > li > span:focus,
.pagination > li > strong > a:hover, .pagination > li > strong > a:focus {
	color:#000;
	background-color: #fff;
	border-color: transparent;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.pagination > li > a, .pagination > li > span, .pagination > li > strong > a {
	float:none;
	padding: 6px 10px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #005e44;
	border: 0 none;
	border-radius: 0px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > strong > a,
.pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > strong > a:hover,
.pagination > .active > a:focus, .pagination > .active > span:focus, .pagination > .active > strong > a:focus {
	color:#000;
	background-color:transparent;
}
.pagination > li.next > a, .pagination > li.previous > a{
	text-indent:-9999px;
	display:block;
	width:17px;
	height:20px;
	position:relative;
	top:9px;
}
.pagination > li.next > a{
	float:right;
	position:relative;
	margin-right:15px;
	background:url(../images/next.png) no-repeat center center;
	right:0;
	  top: 2px;
}
.pagination > li.previous > a{
	float:left;
	position:relative;
	background:url(../images/prev.png) no-repeat center center;
	margin-right:15px;
	left:10px;
	  top: 2px;
}
/* Thumbs carousel */
#img-caption{
  margin: 0 0 30px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #545454;
}
div.pp_default .pp_description {
	padding-left: 120px;
}
.bxpager{
	margin-bottom:30px;
}
.bxpager .bx-wrapper .bx-controls-direction a {
	top: 34px;
	z-index: 8888;
}
.bxpager .bx-wrapper .bx-next {
  right: -40px;
}
.bxpager .bx-wrapper .bx-prev {
  left: -40px;
}
.bxpager .bx-wrapper { 
	border-top: 0 none;
	padding-top: 0px;
	max-width:100%!important;
 }
.bxpager .bx-wrapper .bx-viewport {
	border-right: 4px solid #fff;
}
/* MailChimp */
#mc_embed_signup .mc-field-group {
    clear: left;
    position: relative;
    width: 50%!important;
    padding-bottom: 3%;
    min-height: 50px;
}
#mc_embed_signup .asterisk {
    color: #fff!important;
    font-size: 100%!important;
	position: relative!important;
    top: 0!important;
    right: 0px!important;
}

@media screen and (min-width: 1200px){
	.container {
		width: 996px;
	}
}

@media screen and (max-width: 991px) {
	.row1{
		margin-left:-15px;
	}
	.logo {
		left:0px;

	}
	.top-links{
		margin-right:0;
	}
	.container {
		width: 100%;
	}	
	.middle-footer .col-md-5 {
		padding-left:15px;
		padding-right:15px;
		width:100%;
		margin-bottom:20px;
	}
	.breadcrumb {
		margin-top: 0;
		margin-bottom: 0;
	}
	.mob-searchbox-container .searchbox-container {
		padding-top: 46px;
	}	
	.middle-mfooter, .middle-mfooter + .middle-footer {
		padding-left: 13px;
	}	
}
@media screen and (max-width: 768px) {
	.middle-footer-2 {
		padding: 0px 15px;
	}
	#mc_embed_signup .button{
		margin-bottom:30px;
	}
	.school-item .school-info, .school-item .school-info2, .school-item .school-links {
	   padding-top: 0px; 
	}
	.school-item .school-info {
		padding-top: 15px;
		padding-bottom: 0px;
		padding-left:0;
	}
	.school-links {
		padding-right: 0;
		padding-left: 0;
		position: static;
		padding-bottom:5px;
	}	
	.main .content {
		padding: 0 15px;
	}	
	.tx-indexedsearch-form .col-xs-12{
		padding-left:0px;
		padding-right:0px;
		margin-bottom:15px;
	}
	.top-footer{
		width:auto;
		padding-left:15px;
		padding-right:15px;
	}
	.soc {
		padding-left: 0;
		clear: both;
	}	
	.soc li{
		display:block;
		width:100%;
	}
	.middle-mfooter, .middle-mfooter + .middle-footer{
		padding-left:0px;
	}	
	.media-left{
		float: none;
		width: 100%;
		margin-right:0px;
		margin-bottom:15px;
	}
	.media-right{
		float: none;
		width: 100%;
		margin-left:0px;
		margin-bottom:15px;
	}	
	.media-body{
		display:block;
	}	
	.breadcrumb {
		margin-top: 0;
		margin-bottom: 0;
	}
	.mob-searchbox-container .searchbox-container {
		padding-top: 46px;
		padding-left:0;
		padding-right:0;
	}	
	.form-upload .control-label {
		padding-left: 15px;	
	}	
}
@media screen and (max-width: 320px) {

}
#mc_embed_signup_scroll{
	padding-left:0;
	padding-right:0;
}
#mc_embed_signup form{
	float:left;
	padding:0 0 0 0!important;
}
#nwform  {
	width:100%;
	font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
	color:#FFF;
}
p.mail-info{
	margin-bottom:0;
}
#nwover {
width:100%;
padding:0px;
margin:0px;
}
/*#nwover div, */
#nwover div.mc-field-group{
	float:left;
	/*width: 49%;*/
	/*padding: 0px 10px 0px 0px;*/
	clear:none!important;
	/*margin-right: 7px;*/
}

#nwform  div input, #nwform  div select{
    background-color: #005e45;
    border: 1px solid;
    color: #fff;
    height: 35px;
    width: 100%;
}
#nwform  div input{
	padding:0 10px;
}
#nwform div label {
	display:block;
	margin-top:22px;
	font-size:14px;
	font-weight:normal;
}

#nwformsubm_div #nwformsubm{
    background-color: #fff;
    color: #005e45;
    height: 35px;
    width: 146px;
	margin-top:22px;
    border: 1px solid;
	font-size: 14px;
}

.msg_bg {
	position:fixed;
	z-index:5000;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background: rgba(0, 0, 0, 0.6);
}

#nl_msg {
    background: none repeat scroll 0 0 #fff;
    border-top: 10px solid #005e45;
    color: #005e45;
    font-size: 15px;
    font-weight: bold;
    left: 50%;
    margin-left: -250px;
    padding: 6px 3px 30px 55px;
    position: absolute;
    top: 325px;
    width: 500px;
    z-index: 5000;
}

#btn_cls_nwl {
	float:right;

}

#nl_msg p {
 margin: 10px 25px 10px 0;
}

#nwformsubm_div {
	/*display:none;*/
	/*width:50%;*/
}
#mc_embed_signup .button {
	border-radius: 0!important;
	margin-top: 22px;
	width: 100%;
	padding: 0 35px;
	border:0 none;
	background-color:#fff;
	color:#005e45;
}
#mce-error-response, #mce-success-response{
	margin-top:10px;
}